<h1>You have a new message</h1>
<p><strong>Name:</strong>{{ form.name }}</p>
<p><strong>Email:</strong>{{ form.email }}</p>
<p><strong>Phone:</strong>{{ form.phone }}</p>
<p><strong>Details:</strong>{{ form.details }}</p>