{% extends 'payment/payment_layout.html' %}

{% block content %}
    <h3>Payment was accepted.</h3>
    <div class="mt-2">
        <a href="{{ bidding_url }}">GO TO BID KAHUNA</a>
    </div>
{% endblock %}