{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% block title %}Cart{% endblock %}


{% block content %}

      <div class="option-section">
        <div class="container">
          <div class="row">
              <h2>window dimensions/options</h2>
          </div>


          <div class="main-temper">
	          <div class="temper">
	          	<div class="row">
		          	<div class="col-md-3 padding-0">
		          		<div class="hori-slide">
		          			<div class="hor-pic"><img src="images/Horizontal Slider.png"></div>
		          			<p>horizontal slider</p>
		          		</div>
		          	</div>

		          	<div class="col-md-9 padding-left-0">
		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>width</label>
			          					<select>
			          						<option value="1">48</option>
			          						<option value="1">45</option>
			          						<option value="1">46</option>
			          					</select>
			          				</div>
			          			</div>
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>height</label>
			          					<select>
			          						<option value="1">38</option>
			          						<option value="1">35</option>
			          						<option value="1">36</option>
			          					</select>
			          				</div>
			          			</div>
		          			</div>
		          		</div>

		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>tempered</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>obscured</span>
			          					<label class="grid-checks">
										  <input type="checkbox" checked="checked">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>grids</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>
			          			
		          			</div>
		          		</div>

		          	</div>
	         	</div>
	          </div>


	           <div class="temper">
	          	<div class="row">
		          	<div class="col-md-3 padding-0">
		          		<div class="hori-slide">
		          			<div class="hor-pic"><img src="images/Picture Window.png"></div>
		          			<p>Picture Window</p>
		          		</div>
		          	</div>

		          	<div class="col-md-9 padding-left-0">
		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>width</label>
			          					<select>
			          						<option value="1">48</option>
			          						<option value="1">45</option>
			          						<option value="1">46</option>
			          					</select>
			          				</div>
			          			</div>
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>height</label>
			          					<select>
			          						<option value="1">38</option>
			          						<option value="1">35</option>
			          						<option value="1">36</option>
			          					</select>
			          				</div>
			          			</div>
		          			</div>
		          		</div>

		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>tempered</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>obscured</span>
			          					<label class="grid-checks">
										  <input type="checkbox" checked="checked">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>grids</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>
			          			
		          			</div>
		          		</div>

		          	</div>
	         	</div>
	          </div>



	           <div class="temper">
	          	<div class="row">
		          	<div class="col-md-3 padding-0">
		          		<div class="hori-slide">
		          			<div class="hor-pic"><img src="images/Picture Window.png"></div>
		          			<p>Picture Window</p>
		          		</div>
		          	</div>

		          	<div class="col-md-9 padding-left-0">
		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>width</label>
			          					<select>
			          						<option value="1">48</option>
			          						<option value="1">45</option>
			          						<option value="1">46</option>
			          					</select>
			          				</div>
			          			</div>
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>height</label>
			          					<select>
			          						<option value="1">38</option>
			          						<option value="1">35</option>
			          						<option value="1">36</option>
			          					</select>
			          				</div>
			          			</div>
		          			</div>
		          		</div>

		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>tempered</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>obscured</span>
			          					<label class="grid-checks">
										  <input type="checkbox" checked="checked">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>grids</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>
			          			
		          			</div>
		          		</div>

		          	</div>
	         	</div>
	          </div>


	           <div class="temper">
	          	<div class="row">
		          	<div class="col-md-3 padding-0">
		          		<div class="hori-slide">
		          			<div class="hor-pic"><img src="images/Picture Window.png"></div>
		          			<p>Picture Window</p>
		          		</div>
		          	</div>

		          	<div class="col-md-9 padding-left-0">
		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>width</label>
			          					<select>
			          						<option value="1">48</option>
			          						<option value="1">45</option>
			          						<option value="1">46</option>
			          					</select>
			          				</div>
			          			</div>
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>height</label>
			          					<select>
			          						<option value="1">38</option>
			          						<option value="1">35</option>
			          						<option value="1">36</option>
			          					</select>
			          				</div>
			          			</div>
		          			</div>
		          		</div>

		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>tempered</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>obscured</span>
			          					<label class="grid-checks">
										  <input type="checkbox" checked="checked">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>grids</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>
			          			
		          			</div>
		          		</div>

		          	</div>
	         	</div>
	          </div>


	           <div class="temper">
	          	<div class="row">
		          	<div class="col-md-3 padding-0">
		          		<div class="hori-slide">
		          			<div class="hor-pic"><img src="images/Picture Window.png"></div>
		          			<p>Picture Window</p>
		          		</div>
		          	</div>

		          	<div class="col-md-9 padding-left-0">
		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>width</label>
			          					<select>
			          						<option value="1">48</option>
			          						<option value="1">45</option>
			          						<option value="1">46</option>
			          					</select>
			          				</div>
			          			</div>
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>height</label>
			          					<select>
			          						<option value="1">38</option>
			          						<option value="1">35</option>
			          						<option value="1">36</option>
			          					</select>
			          				</div>
			          			</div>
		          			</div>
		          		</div>

		          		<div class="griid">
		          			<div class="row">
			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>tempered</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>obscured</span>
			          					<label class="grid-checks">
										  <input type="checkbox" checked="checked">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>

			          			<div class="col-md-4">
			          				<div class="temp-check">
			          					<span>grids</span>
			          					<label class="grid-checks">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
			          				</div>
			          			</div>
			          			
		          			</div>
		          		</div>

		          	</div>
	         	</div>
	          </div>

     	 </div>


              <div class="row">
              	<div class="col-md-12 text-center">
                	<a class="nxt-btn" href="#" data-toggle="modal" data-target="#exampleModal">add to cart</a>

			<div class="modal fade cart-modals" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      
			      <div class="modal-body">
				       <div class="add-head">
				       		<h4>Add to Cart</h4>
				       </div>
				       <div class="add-cnt">
				       		<p>Your window was added to your cart</p>
				       		<div class="crt-btns">
				       			<a class="windo-btn" href="#">Add Another window</a>
				       			<a href="#">Go to Cart</a>
				       		</div>
				       </div>
			      </div>
			     
			    </div>
			  </div>
			</div>

            	 </div>
         	</div>




        </div>
      </div>

{% endblock %}
{% block script %}
    <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '850297541691093');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=850297541691093&ev=PageView&noscript=1"
/></noscript>

{% endblock %}