{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<body>
<h3>Hi,</h3>
<p><b>{{userdetails.user}} has submitted an application for appointment. The details of users as below</b></p>
<!--{% for shop in itmes %}-->
<!--<p style="margin-left:10px"> <b><i>{{ forloop.counter }}</i>  {{shop.style.window_name}}</b></p>-->
<!--<div  style="margin-left:30px">-->
<!--    <p><label>Size </label>: {{shop.real_width}} X {{shop.real_height}}, <label>Color </label>: {{shop.frame.frame_name}}, <label>Room </label>: {{shop.room.room_name}}</p>-->
<!--    <p>{% if shop.grid != 'No' %} <label>Grids</label>: {{shop.grid}},  {% endif %}   {% if shop.exterior != 'No' %}<label>Exterior</label>: {{shop.exterior}},{% endif %} {% if  shop.private_glass  %}Privacy Glass,{% endif %}{% if  shop.tempered  %}  Tempered{% endif %}</p>-->
<!--    <p><label>Price</label>: <b>${{shop.total_price|intcomma}}</b></p>-->
<!--</div>-->
<!--{% endfor %}-->

<!--<div style="margin-left:10px"><label><b>Total</b>  $<b>{{totalpayment|intcomma}}</b></label></div>-->

<div style="margin-left:20px">
    <p><label>Name</label>: <b>{{userdetails.user}}</b></p>
    <p><label>Email</label>: <b>{{userdetails.email}}</b></p>
    <p><label>Mobile Number</label>: <b>{{userdetails.mobile_number}}</b></p>
    <p><label>City</label>: <b>{{userdetails.city}}</b></p>
    <p><label>Zip Code </label>: <b>{{userdetails.pin_code}}</b></p>
    <p><label>Best Time To Call</label>: <b>{{userdetails.best_time_to_cal}}</b></p>
    <p><label>Address</label>: <b>{{userdetails.address}}</b></p>

</div>

<div>
    <b>Thanks</b>
    <br>
    <b>Bid Kahuna Customer Portal</b>

</div>
</body>
</html>