{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% block title %}Room{% endblock %}


{% block content %}
<div class="partner-section">

    <div class="ourworks-box container">
      <h2>choose room</h2>
    </div>
  <!-- slder sec -->
    <section class="slider_sec">
        <div class="container fix-cont">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider_in">

                        <div id="owl-carousel" class="owl-carousel owl-theme">

                            {% for room in rooms %}

                                <div  class="item">


<!--                                    <i class="fa fa-eye" onclick="des('{{room.room_name}}','{{room.description}}')"></i>-->
                                    <div onclick="setromeid({{room.id}})">
                                      <img src="{{room.room_image.url}}" alt="">
                                       <img class="scd-img" src="{{room.room_image.url}}" alt="">
                                       <p id="name">{{room.room_name}}</p>
                                        </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

              	<div class="modal fade cart-modals" id="des" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      <div class="modal-body">
				       <div class="add-head">
				       		<h4>Item Description</h4>
				       </div>
				       <div class="add-cnt">
                           <div>
                               <h4><span>Name :</span> <a id="item_name"></a></h4>
				       		</div>
                           <div>
                               <span>Description :</span> <i id="item_des"></i>
                           </div>
				       </div>
			      </div>
			    </div>
			  </div>
			</div>
			</div>
            </div>
        </div>
    </section>
    <!-- // slder sec -->
    </div>




{% endblock %}

{% block script %}
<script type='text/javascript'>


    $(document).ready(function(){
         $('#owl-carousel').owlCarousel({
            loop: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 2,
                    nav: false
                },
                768: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        });
    });

    function setromeid(id){

    localStorage.setItem('roomid',id);
    var roomid = localStorage.getItem('roomid');
    if (roomid)
   {

    document.location.href ="{% url 'frame' %}"

    };
    };

    function des(name, desc){

        $("#item_des").empty();
        $("#item_name").empty();
        $("#item_name").append(name);
        if (desc != 'None' && desc != 'null'){
            $("#item_des").append(desc);
        }
        $('#des').modal('show');
    }

</script>

    <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '850297541691093');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=850297541691093&ev=PageView&noscript=1"
/></noscript>


{% endblock %}

