{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% block title %}Frame{% endblock %}


{% block content %}
      <div class="room-section">
        <div class="container">
          <div class="row">
              <h2>choose frame color</h2>

           <div class="col-md-12 text-center">
             <ul>
                 {% for frame in frames %}

                <li >
<!--                    <i class="fa fa-eye frame" onclick="des('{{frame.frame_name}}','{{frame.description}}')"></i>-->
                    <div class="all-room" onclick="setframecolor({{frame.id}})">
                      <div class="liv-room">
                        <img s src="{{frame.frame_image.url}}">
                        <img class="scd-pic" src="{{frame.frame_image.url}}">
                      </div>
                      <p>{{frame.frame_name}}</p>

                  </div>
                    {% if frame.color_code %}
                    <div>
                          <img style="width: 60px;" src="{{frame.color_code.url}}">

                        </div>
                    {% endif %}
                </li>
                 {% endfor %}

                </ul>
           </div>

              <div class="modal fade cart-modals" id="des" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      <div class="modal-body">
				       <div class="add-head">
				       		<h4>Item Description</h4>
				       </div>
				       <div class="add-cnt">
                           <div>
                               <h4><span>Name :</span> <a id="item_name"></a></h4>
				       		</div>
                           <div>
                               <span>Description :</span> <i id="item_des"></i>
                           </div>
				       </div>
			      </div>
			    </div>
			  </div>
			</div>
<!--             <div class="col-md-12 text-center">-->
<!--                <button class="nxt-btn" type="button">next</button>-->
<!--             </div>-->

          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
<script type='text/javascript'>

    function setframecolor(id){

    localStorage.setItem('framecolorid',id);
    var framecolor = localStorage.getItem('framecolorid');
    if (framecolor)
    {
    document.location.href ="{% url 'style' %}"
    };
    };

    function des(name, desc){

        $("#item_des").empty();
        $("#item_name").empty();
        $("#item_name").append(name);
        if (desc != 'None' && desc != 'null'){
            $("#item_des").append(desc);
        }
        $('#des').modal('show');
    }

</script>

    <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '850297541691093');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=850297541691093&ev=PageView&noscript=1"
/></noscript>


{% endblock %}