{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% block title %}Dimension{% endblock %}


{% block content %}
      <div class="option-section">
        <div class="container">
          <div class="row">
              <h2>window dimensions/options</h2>
          </div>

				<div class="overlay"> <div class="spinner"></div>
			    <div class="main-temper">
	          <div class="temper">
				  {% if not sheeterror %}
				  <h5 class="send-top" style="cursor:pointer"  onclick="help('measuremodel')">How to measure?</h5>
	          	<div class="row">
					<p id="item_error" style="color:red;margin-left: 40px;"></p>
		          	<div class="col-md-12">
		          		<div class="griid" style="border-bottom: 2px #09090c solid">
		          			<div class="row">
								{% if item %}
								<input type="number" id="id" hidden name="width" value="{{item.id}}" >
								{% endif %}
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>width</label>
										{% if item %}
										<input type="number" id="width" name="width" value="{{item.real_width}}" >
										{% else %}
										<input type="number" id="width" name="width"  >

										{% endif %}
<!--			          					<select id="width">-->
<!--											{% for width in widths %}-->
<!--			          						<option value="{{width}}">{{width}}</option>-->

<!--											{% endfor %}-->
<!--			          					</select>-->
			          				</div>
			          			</div>
			          			<div class="col-md-6">
			          				<div class="width-sec">
			          					<label>height</label>
										{% if item %}
										<input type="number" id="height" name="height" value="{{item.real_height}}">
										{% else %}
										<input type="number" id="height" name="height">

										{% endif %}

<!--			          					<select id="height">-->
<!--											{% for height in heights %}-->
<!--			          						<option value="{{height}}">{{height}}</option>-->

<!--											{% endfor %}-->
<!--			          					</select>-->
			          				</div>
			          			</div>
								<p id="error" style="color:red;margin-top: 10px;margin-left: 15px;"></p>
		          			</div>
		          		</div>
		          		<div class="griid" style="border-bottom: 2px #09090c solid">
		          			<div class="row track-slt">
								{% if item.style.window_name != 'Sliding Patio Door' %}
			          			<div class="col-md-3 requesthidden">
			          				<div class="temp-check">
			          					<span>tempered</span>
			          					<label class="grid-checks">
											{% if item.tempered %}

											<input type="checkbox" name="tempered" id="tempered" checked>

											{% else %}
										  <input type="checkbox" name="tempered" id="tempered">
											{% endif %}
										  <span class="checkmark"></span>
										</label>

									<div ><h5 class="video"  onclick="help('temperemodel')">Help</h5></div>
			          			</div>
									</div>
			          			<div class="col-md-3 requesthidden">
			          				<div class="temp-check">
										<span>Privacy Glass</span>
			          					<label class="grid-checks">
											{% if item.private_glass %}
											<input type="checkbox" name="tempered" id="glass" checked>
											{% else %}
										  <input type="checkbox" name="tempered" id="glass">
											{% endif %}
										  <span class="checkmark"></span>
										</label>

<!--			          					<span>Privacy <br> Glass</span>-->
<!--										<label class="grid-checks">-->
<!--										{% if item %}-->
<!--										<input type="checkbox" name="tempered" id="glass" checked="{{item.tempered}}">-->
<!--										{% else %}-->
<!--										<input type="checkbox" name="tempered" id="glass" >-->
<!--										{% endif %}-->
<!--										</label>-->
<!--			          					<select id="glass">-->
<!--											{% if item %}-->
<!--											-->
<!--												<option selected value="{{item.glass}}">{{item.glass}}</option>-->
<!--												{% for glass in glass_name %}-->
<!--													{% if glass != item.glass %}-->

<!--			          								<option value="{{glass}}">{{glass}}</option>-->

<!--													{% endif %}-->
<!--												{% endfor %}-->
<!--											{% else %}-->
<!--												{% for glass in glass_name %}-->

<!--												<option value="{{glass}}">{{glass}}</option>-->
<!--												{% endfor %}-->
<!--											{% endif %}-->
<!--			          					</select>-->

									<div ><h5 class="video"  onclick="help('glassmodel')">Help</h5></div>
			          			</div>
									</div>
									{% endif %}
			          			<div class="col-md-3">

			          				<div class="width-sec temp-check">
			          					<span>Grids</span>
			          					<select id="grid">
											{% if item %}
												<option selected value="{{item.grid}}">{{item.grid}}</option>
											{% for grid in grid_names %}
												{% if item.grid != grid %}

			          							<option  value="{{grid}}">{{grid}}</option>
											{% endif %}
											{% endfor %}
											{% else %}
												{% for grid in grid_names %}

			          							<option  value="{{grid}}">{{grid}}</option>
												{% endfor %}
											{% endif %}
			          					</select>

									<dviv ><h5 class="video"  onclick="help('gridmodel')">Help</h5></dviv>
								</div>
									</div>
								<div class="col-md-3">
			          				<div class="width-sec temp-check">
			          					<span>Exterior Color</span>

			          					<select id="exterior">
											{% if item %}
												<option selected value="{{item.exterior}}">{{item.exterior}}</option>

											{% for exterior in exterior_name %}
											{% if item.exterior != exterior %}
			          							<option  value="{{exterior}}">{{exterior}}</option>
											{% endif %}
											{% endfor %}
											{% else %}
												{% for exterior in exterior_name %}
			          							<option  value="{{exterior}}">{{exterior}}</option>
											{% endfor %}
											{% endif %}
			          					</select>

									<div><h5 class="video"  onclick="help('exteriormodel')">Help</h5></div>
								</div>
									</div>
<!--								<dviv class="col-md-3"><h5 class="video"  onclick="showvideo()">Help</h5></dviv>-->
<!--								<dviv class="col-md-3"><h5 class="video"  onclick="showvideo()">Help</h5></dviv>-->
<!--								<dviv class="col-md-3"><h5 class="video"  onclick="showvideo()">Help</h5></dviv>-->
<!--								<dviv class="col-md-3"><h5 class="video"  onclick="showvideo()">Help</h5></dviv>-->
		          			</div>
		          		</div>
		          	</div>
	         	</div>
				  {% else %}
				  <p style="color:red;margin:30px">{{sheeterror}}</p>
				  {% endif %}
	          </div>
     	 </div>
					 {% if not sheeterror %}
              <div class="row">
              	<div class="col-md-12 text-center">
					{% if item %}
					<button onclick="updatecart()" class="nxt-btn"  type="button">update to cart</button>
					{% else %}
						{% if request.session.email %}
						<button onclick="saveitemfirst()" class="nxt-btn"  type="button">add to cart</button>
						{% else %}
						<button onclick="addcart()" class="nxt-btn"  type="button">add to cart</button>
						{% endif %}
					{% endif %}
					<p hidden style="color:red" id="itemmsg">Window added to cart</p>
					<div class="modal fade cart-modals" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  			<div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      <div class="modal-body">
				       <div class="add-head">
				       		<h4>Add to Cart</h4>
				       </div>
				       <div class="add-cnt">
				       		<p id="message"></p>
				       		<div class="crt-btns">
				       			<a class="windo-btn" href="{% url 'home' %}">Add Another window</a>
				       			<button type="button" onclick="cart()">Go to Cart</button>
				       		</div>
				       </div>
			      </div>
			    </div>
			  </div>
					</div>
					<div class="modal fade cart-modals" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  			<div class="modal-dialog" role="document">
			    			<div class="modal-content">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							  	<div class="modal-body">
								   <div class="add-head">
										<h4>Add to Cart</h4>
								   </div>
								   <div class="add-cnt">
										<p id="message2"></p>
										<div class="crt-btns">
											<a class="windo-btn" href="{% url 'home' %}">Add Another window</a>
											<a class="windo-btn " href="{% url 'cart' %}">Go to Cart</a>
										</div>
								   </div>
							  </div>
			   				 </div>
						 </div>
					</div>
					<div class="modal fade cart-modals" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						 <div class="modal-dialog" role="document">
						 <div class="modal-content">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  <div class="modal-body">
						   <div class="add-head">
								<h4>Add to Cart</h4>
						   </div>
						   <div class="add-cnt">
							   <p style="color:white;font-size: 18px;">We respect your privacy and
							   take protecting it seriously. We will NEVER share your info with anyone</p>
								<p id="cartsave"></p>

							   <div class="cart-form">
								   <input type='hidden' id="csrftoken" name='csrftoken' value='{{ csrf_token }}' />
								   <div class="form-group">
											<label>Name*</label>
											<input type="text" id="name" required name="name">
										</div>
								   <div class="form-group">
											<label>Email*</label>
											<input type="email" id="email" required name="email">
										</div>
								   <div class="form-group" style="width:100%">
											<label>Zip Code*</label>
											<input type="number" id="pincode" required name="pincode">
										</div>
	<!--							   <div class="form-group">-->
	<!--			          					<label>Mobile Number</label>-->
	<!--										<input type="number" id="number"  name="number">-->
	<!--			          				</div>-->
	<!--							   </div>-->
							   <p style="color:red" id="modalrequiered"></p>

								<div class="crt-btns2">
									<button style="cursor:pointer" type="button" onclick="savecart()">Submit</button>
								</div>
						   </div>
					  </div>
					</div>
				  </div>
						 </div>
					</div>

					<div class="modal fade cart-modals" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
<!--			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--			          <span aria-hidden="true">&times;</span>-->
<!--			        </button>-->
<!--			      <div class="modal-body">-->
				       <iframe width="100%" height="400px" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>

<!--			      </div>-->
			    </div>
			  </div>
			</div>
				</div>
         	</div>
					{% endif %}
        </div>
		</div>
		  <div class="modal fade cart-modals helps" id="measuremodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Measuring</h4>
     			 </div>

			    <div class="modal-content">
					<div class="help-text">
					<p>Measure your window from inside of your house. A good way to start is from your front door moving clockwise around your house,
						and each floor. You will usually measure from inside the sheetrock of the window opening. You don’t need to be exact. Just round to the nearest inch.
						<br>After you place your order, our measure tech will get the exact dimensions from your home</p>
					</div>
				</div>
				</div>
			  </div>
			</div>
		  <div class="modal fade cart-modals helps" id="temperemodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Tempered</h4>
     			 </div>
			    <div class="modal-content">
					<div class="help-text">
					<p>Here are a few situations where you will need tempered glass. If the window is in the bathtub or shower area and less than 60” from the standing surface, if the window is less than 18” from the floor, if the window is less than 24” from an exterior door. If you are unsure, our measure tech can help you with this when they come to your house to get the final measurements.</p>
					</div>
				</div>
				</div>
			  </div>
			</div>
		  <div class="modal fade cart-modals helps" id="glassmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Privacy</h4>
     			 </div>

			    <div class="modal-content">
					<div class="help-text">
					<p>Perfect for bathrooms, obscure window glass protects your privacy but still allows abundant light to enter the room.</p>
				</div>
				</div>
				</div>
			  </div>
			</div>
		  <div class="modal fade cart-modals helps" id="gridmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Grids</h4>
     			 </div>

			    <div class="modal-content">
					<div class="help-text">
					<p>When it comes to grids or no grids on windows it’s all a matter of curb appeal. Grids don’t serve much of a function other than aesthetics. Think about your architectural style and view when making your decision about grids.</p>
					</div>
				</div>
				</div>
			  </div>
			</div>
		  <div class="modal fade cart-modals helps" id="exteriormodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Exterior Color</h4>
     			 </div>

			    <div class="modal-content">
					<div class="help-text">
					<p>You can choose a different exterior color to better match the exterior of your home. Options are Black, Architectural Bronze, Silver. This does not change the interior base frame color that you have already chosen.
					If you don’t choose the add on exterior color option then the outside and inside frame color will be the same.</p>
				</div>
				</div>
				</div>
			  </div>
			</div>

	  </div>
	  </div>
{% endblock %}

{% block script %}



<script type='text/javascript'>


</script>


    <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '850297541691093');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=850297541691093&ev=PageView&noscript=1"
/></noscript>


{% endblock %}
