{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% block title %}Home{% endblock %} load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'shopping/css/bootstrap-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'shopping/css/jquery.fugit.css' %}">
<link rel="stylesheet" href="{% static 'shopping/css//wickedpicker.min.css' %}">

<style>
	.toggle.btn {

    min-height: 48px;
}
span.fugit {
    background-color: black;
    font-size: 20px;
    width: 60%;
}

</style>
<div class="container">
<div class="bnr-txt">
	<div class="row">
		<div class="col-6">
			<div class="left-txt">
				<h2>Ridiculous window deals that you can’t find anywhere else</h2>

				<div class="radio-txt"><span ><img style='height: 50px;padding-top: 10px;' src="{% static 'shopping/images/dealer/checkmark_360.png' %}" /></span>
					<p>Say No To High Sales Commissions and Pushy Sales Presentations</p></div>
				<br><br>

				<a  href="{% url 'home' %}">
				<button style="cursor:pointer;border-radius: 10px" type="button">Measure Your Own Windows And Get An Instant Quote</button>
					</a>
				<b style="font-size: 20px; margin-left: 45%;color: #f29a05;r">Or</b>

				<button style="cursor:pointer;border-radius: 10px" onclick="showlogin1()" type="button">Schedule An Appointment For An In-Home Quote</button>

			</div>

		</div>
		<div class="col-6" data-toggle="modal" data-target="#video">
			<div class="video-sec">
				<img class="img-fluid" src="{% static 'shopping/images/landing_page_image.png' %}">
				<a ><div class="play-txt" style="padding-top:15px;cursor:pointer;"> <img src="{% static 'shopping/images/play.png' %}"> watch the video</div></a>
			</div>
		</div>
	</div>
</div>
</div>
<div style="padding-top: 35px;" class="modal fade cart-modals helps" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog vdo-mdls" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>

	 </div>

	<div class="modal-content">
		<video  width="797" height="450"  class="embed-responsive-item"  controls>

			<source src="{% static 'shopping/videos/1196_22_June.mp4' %}" type="video/mp4">
		</video>
	</div>
	</div>
  </div>
</div>
<div class="modal fade cart-modals" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			 		 <div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      <div class="modal-body">
				       <div class="add-head">
				       		<h4>Enter Your Details</h4>
				       </div>
				       <div class="add-cnt">
						   <p style="color:white;font-size: 18px;">We respect your privacy and
							   take protecting it seriously. We will NEVER share your info with anyone</p>
				       		<p id="cartsave"></p>
						   <div class="cart-form">
							   <input type='hidden' id="csrftoken" name='csrftoken' value='{{ csrf_token }}' />
							   <div class="form-group">
			          					<label>Name*</label>
										<input type="text" placeholder="name" id="name" required name="name">
			          				</div>
							   <div class="form-group">
			          					<label>Email*</label>
										<input type="email" placeholder="email" id="email" required name="email">
			          				</div>

							   <div class="form-group">
			          					<label>Address*</label>
										<input type="text" placeholder="address" id="address" required name="address">
			          				</div>
							   <div class="form-group">
			          					<label>city*</label>
										<input type="text" id="city" placeholder="city" required name="city">
			          				</div>
							   <div class="form-group ">
			          					<label>phone*</label>
								   <input type="text" id="phone" onkeyup="addHyphen(this)" required placeholder="phone number" />
<!--										<input type="number" id="phone" placeholder="phone number" required name="phone">-->
			          				</div>
							   <div class="form-group " >
			          					<label>Best time to call?</label>

								   <input type="number"  id="hours" placeholder="HH" name="hours" min="0" max="2" class="col-3 col-sm-3 col-md-3 hours">
								   &nbsp;&nbsp;:&nbsp;&nbsp; <input type="number" id="minutes" placeholder="MM" name="minutes" min="0" max="2" class="col-3 col-sm-3 col-md-3">
<!--								   <select  id="hours" >-->
<!--									   <option  value="01">01</option>-->
<!--									   <option  value="02">02</option>-->
<!--									   <option  value="03">03</option>-->
<!--									   <option  value="04">04</option>-->
<!--									   <option  value="05">05</option>-->
<!--									   <option  value="06">06</option>-->
<!--									   <option  value="07">07</option>-->
<!--									   <option  value="08">08</option>-->
<!--									   <option  value="09">09</option>-->
<!--									   <option  value="10">10</option>-->
<!--									   <option  value="11">11</option>-->
<!--									   <option  value="12">12</option>-->
<!--								   </select>-->
<!--								   <select id="minute" >-->
<!--									   <option  value="00">00</option>-->
<!--									   <option  value="05">05</option>-->
<!--									   <option  value="10">10</option>-->
<!--									   <option  value="15">15</option>-->
<!--									   <option  value="20">20</option>-->
<!--									   <option  value="25">25</option>-->
<!--									   <option  value="30">30</option>-->
<!--									   <option  value="35">35</option>-->
<!--									   <option  value="40">40</option>-->
<!--									   <option  value="45">45</option>-->
<!--									   <option  value="50">50</option>-->
<!--									   <option  value="55">55</option>-->
<!--									   <option  value="60">60</option>-->

<!--								   </select>-->
<!--										<input type="text" id="time" data-format="HH:mm" data-template="HH : mm" name="datetime">-->
<!--								 <input type="text" id="timepicker-12-hr-clearable" name="timepicker-12-hr-clearable" class="timepicker-12-hr-clearable">-->
<!--                                   <input  id="time" value="00:00" required  type="text">-->
<!--										<input style="width:65%" type="time" id="time" placeholder="best time to call" min="01:00" max="12:00" required  data-format="HH:mm"  name="datetime">-->
										<input  style="float:right" id="timetype" type="checkbox" checked data-toggle="toggle" data-on="AM" data-off="PM" data-onstyle="success" data-offstyle="danger">
</div>

							    <p style="color:red;font-size: 20px;" id="modalrequiered"></p>

				       		<div class="crt-btns2">

				       			<button type="button" class="nxt-btn" style="margin-left:35%;" onclick="savedetails()">Submit</button>

							</div>
			      </div>
			    </div>
			  </div>
			</div>
			</div>
			</div>

{% endblock %}

{% block script %}
 <script src="{% static 'shopping/js/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static 'shopping/js/jquery.fugit.js' %}"></script>
<script src="{% static 'shopping/js/wickedpicker.min.js' %}"></script>
<script>

	function showlogin1(){
            $('#detailModal').modal('hide');
            $('#detailModal').modal('show');
           }
     function savedetails(){

		$("#modalrequiered").empty();
		var name = $('#name').val();
		var email = $('#email').val();
		var pincode = $('#pincode').val();
		var address = $('#address').val();
		var city = $('#city').val();
		var phone = $('#phone').val();
		var hours = $('#hours').val();
		var minutes = $('#minutes').val();
		var time = hours + ":" + minutes

		  if ($('#timetype').prop('checked') == true){
       			time = time + " AM";

			}else{
			   time = time + " PM";
			}

		var csrftoken = $('#csrftoken').val();
		var url = "{% url 'dealer_details'  %}";


		if (address && city && phone && time && name && email){
			$.ajax({
				type:'post',

				data :{
					'name':name,
					'email':email,
					'pincode':pincode,
					'address':address,
					'city': city,
					'phone': phone,
					'time': time,
					'csrfmiddlewaretoken' : csrftoken
				},
				success: function(result){
					location.reload();
				}

			})
		}else {
			$("#modalrequiered").empty();
			 $("#modalrequiered").append('All field required please enter value');
		}
	}
</script>
<script>

$(function () {
  $("input#hours").keydown(function () {
    // Save old value.
    if (!$(this).val() || (parseInt($(this).val()) <= 12 && parseInt($(this).val()) >= 1)){
    $(this).data("old", $(this).val());}else{$("#modalrequiered").empty();
      $("#modalrequiered").append('Hours input should be between 0 to 12');}
  });
  $("input#hours").keyup(function () {
    // Check correct, else revert back to old value.
    if (!$(this).val() || (parseInt($(this).val()) <= 12 && parseInt($(this).val()) >= 1));
    else
      $(this).val($(this).data("old"));
  });
});
$(function () {
  $("input#minutes").keydown(function () {
    // Save old value.
    if (!$(this).val() || (parseInt($(this).val()) <= 59 && parseInt($(this).val()) >= 00)){
    $(this).data("old", $(this).val());}else{$("#modalrequiered").empty();
      $("#modalrequiered").append('Minutes input should be between 0 to 59');}
  });
  $("input#minutes").keyup(function () {
    // Check correct, else revert back to old value.
    if (!$(this).val() || (parseInt($(this).val()) <= 59 && parseInt($(this).val()) >= 00));
    else
      $(this).val($(this).data("old"));
  });
});
        </script>

    <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '850297541691093');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=850297541691093&ev=PageView&noscript=1"
/></noscript>

{% endblock %}