{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% block title %}Dimension{% endblock %}


{% block content %}

<div class="room-section" xmlns="http://www.w3.org/1999/html">
        <div class="container">
          <div class="row">
              <h2>Login</h2>

              <div class="col-md-12">
                  <form method="post">
                    {% csrf_token %}
                  <div class="submit-form">
                      <div class="row">

                            <div class="col-md-12">
                              <div class="form-group">
                                  <label>email ID</label>
                                 {{form.username}}
                              </div>
                            </div>
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>Password</label>
                                 {{form.password}}
                              </div>
                            </div>
                          <a href="{% url 'registration' %}" style="float:right">Go to register</a>
                      </div>
                  </div>
                    <div class="col-md-12 text-center">
                      {% if form.non_field_errors %}

                            {% for error in form.non_field_errors %}
                          <div>{{ error }}</div>
                    {% endfor %}

                    {% endif %}
                          </div>


             <div class="col-md-12 text-center">
                <button class="nxt-btn" type="submit"> Login</button>

             </div>

                  </form>
                   </div>

          </div>
        </div>
      </div>

{% endblock %}

{% block script %}


{% endblock %}
