{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% block title %}Privacy{% endblock %}


{% block content %}
<div class="container">
<div class="bnr-txt">
	<div class="row">
		<div class="col-12">
			<div class="left-txt">
				<h3>We respect your privacy and take protecting it seriously.  We will NEVER share your information with anyone</h3>

<!--				<div class="radio-txt"><span ><img style='height: 50px;padding-top: 10px;' src="{% static 'shopping/images/dealer/checkmark_360.png' %}" /></span>-->
<!--					<p>Say No To High Sales Commissions and Pushy Sales Presentations</p></div>-->
<!--				<br><br>-->

			</div>

		</div>

	</div>
</div>
</div>
{% endblock %}
{% block script %}
    <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '850297541691093');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=850297541691093&ev=PageView&noscript=1"
/></noscript>

{% endblock %}