{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% block title %}Dimension{% endblock %}


{% block content %}

<div class="room-section">
        <div class="container">
          <div class="row">
              <h2>Registration</h2>

              <div class="col-md-12">
                  <form method="post">
                    {% csrf_token %}
                  <div class="submit-form">
                      <div class="row">

                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>first name*</label>
                                  <input type="text" name="first_name" required placeholder="Enter your first name">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>last name*</label>
                                  <input type="text" name="last_name" required placeholder="Enter your last name">
                              </div>
                            </div>
                                <div class="col-md-6">
                               <div class="form-group">
                                  <label>city*</label>
                                  <input type="text" name="city" required placeholder="Enter your city">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>zip code*</label>
                                  <input type="number" name="zip_code" required placeholder="Enter zip code">
                              </div>
                            </div>

                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>email*</label>
                                  <input type="email" name="email" required placeholder="Enter your email">
                              </div>
                            </div>
                           <div class="col-md-12">
                              <div class="form-group">
                                  <label>password*</label>
                                  <input type="password" name="password" required placeholder="Enter password">
                              </div>
                            </div>
                           <a href="{% url 'login' %}" style="float:right">Go to login</a>

                      </div>
                  </div>

                      <div class="col-md-12 text-center">
                      {% if form.non_field_errors %}

                            {% for error in form.non_field_errors %}
                          <div>{{ error }}</div>
                    {% endfor %}

                    {% endif %}
                          </div>

                      <div class="col-md-12 text-center">
                        <button class="nxt-btn" type="submit"> Register</button>
                      </div>
                      </form>
              </div>

          </div>
        </div>
      </div>

{% endblock %}

{% block script %}


{% endblock %}
