{% extends 'Shopping_baselayout.html' %}
{% load static %}
{% load humanize %}
{% block title %}Cart{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'shopping/css/bootstrap-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'shopping/css/jquery.fugit.css' %}">
<link rel="stylesheet" href="{% static 'shopping/css//wickedpicker.min.css' %}">

<style>
	.toggle.btn {

    min-height: 48px;
}
span.fugit {
    background-color: black;
    font-size: 20px;
    width: 60%;
}

</style>

      <div class="option-section">
        <div class="container">
			<div class="down-pay top">
				<div class="threebtn">
	          	<div class="row"  >
	          		<div class="col-md-4">
						<div class="payment-down">
							<div class="form-group">
								<div class="shop-show">
									<a class="btn-pdf" href="/static/shopping/brochure_pdf/alside-fairfield-80-brochure.pdf" target="_blank">see Window brochure</a></div>
							</div>
						</div>
	          		</div>
	          		<div class="col-md-4">
						<div class="credit-crd">
							<div class="form-group">

								 <div class="form-group" onclick="orderproccess()">
                                    <div class="shop-show btn-pdf order-work">How the Order Process Works</div>
                                </div>
							</div>
						</div>
	          		</div>
					<div class="col-md-4">
						<div onclick="dealerdetails()" class="shop-show btn-pdf">Meet Your Window Installer</div>
					</div>
					</div>
				</div>
	          </div>
          <div class="row">
              <h2>shopping cart</h2>
			  <div class="crt-btns">
				  <a style="margin-top: -45px;" class="windo-btn" href="{% url 'home' %}">Add Another window</a>
			  </div>
          </div>
          <div class="valuname">
          	<div class="row">
          		<div class="col-md-3 text-center">
          			<div class="picnam">Image</div>
          		</div>
          		<div class="col-md-5">
          			<div class="picnam">Information</div>
          		</div>
          		<div class="col-md-4 text-right">
          			<div class="unitl">Unit total</div>
          		</div>

          	</div>
          </div>
          <div class="main-temper">
	          <div class="temper-2">
				  {% for shop in shoppings %}
				  <div class="griid boder">
	          		<div class="row ">
		          	<div class="col-md-3 padding-0 ">

		          		<div class="hori-slide">
							<div >
		          			<div class="hor-pic"><img style="height:110px" src="{{shop.style.window_image.url}}"></div>
		          			<p></p>
		          		</div>
							</div>
		          	</div>
		          	<div class="col-md-9 padding-left-0">
		          		<div >
		          			<div class="row ">
			          			<div class="col-md-6">
			          				<div class="shops-cart">
			          					<p> <label>Style </label>: &nbsp{{shop.style.window_name}}</p>
										<p> <label>Size </label>: &nbspWidth {{shop.real_width}}" Height {{shop.real_height}}"</p>
			          					<p> <label>Color </label>: &nbsp{{shop.frame.frame_name}}</p>

			          					<p> <label>Room </label>: &nbsp{{shop.room.room_name}} </p>
			          					{% if  shop.tempered  %}
										<p> Tempered Glass </p>
										{% endif %}
										{% if  shop.private_glass  %}
										<p>Privacy Glass </p>
										{% endif %}
										{% if shop.grid != 'No' %}
										<p><label>Grid </label>: &nbsp{{shop.grid}}</p>
										{% endif %}
										{% if shop.exterior != 'No' %}
										<p>Exterior Color : &nbsp{{shop.exterior}}</p>
										{% endif %}
			          				</div>
			          			</div>
			          			<div class="col-md-6">
			          				<div class="unit-ttl">
			          					<p id="PH-{{shop.id}}"> <label>Installed Price </label>: ${{shop.total_price|intcomma }} </p>
			          					<p hidden id="PS-{{shop.id}}"> <label>Installed Price </label>: $0.00 </p>
										<div>
			          					<button onclick="deleteitem({{shop.id}})" class="cart-btn"> Remove</button>
			          					</div>
										<div >
			          					<a  href="{% url 'dimensions' shop.id %}" method="POST">
											<button class="cart-btn"> Edit</button>
										</a>
			          					</div>
<!--										<div>-->
<!--			          						<button id="H-{{shop.id}}" onclick="hideItme({{shop.id}},{{shop.total_price}})" class="cart-btn"> Hide</button>-->
<!--											<button id="S-{{shop.id}}" hidden onclick="showItme({{shop.id}},{{shop.total_price}})" class="cart-btn"> Show</button>-->
<!--			          					</div>-->

			          				</div>
			          			</div>
		          			</div>
							<div>
							<p hidden id="T-{{shop.id}}" style="color:red">This item is hidden from final order. Click "Show" button to add it to your final order.</p>
							</div>
		          		</div>
		          	</div>
	         	</div>
					  </div>
				  {% endfor %}
	          </div>
	          <div class="down-pay">
	          	<div class="row">

						<div class="col-md-10">


						<div class="payment-down">
							<div class="form-group">
								<label style="float:right;">Includes: Removal of existing windows<br> and installing new windows</label>

							</div>
						</div>
							</div>
						<div class="col-md-2">
						<div class="payment-down" style="float:right;">
							<div class="form-group">
								<label>Total  $<b id="payment"></b></label>
								<input type="text" hidden id="total_prices" value="{{ data_payments }}" min="1" step="any" readonly >
							</div>
						</div>

	          		</div>
	          	</div>
	          </div>
     	 </div>
              <div class="row">
              	<div class="col-md-12 text-center" onclick="Buy()">
					{% if request.session.items > 0 %}
                	<button id="buy" class="nxt-btn">Order Now</button>
					{% endif %}
            	 </div>
         	</div>
			<div class="modal fade cart-modals" id="showTermsAndCondition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Terms And Conditons</h4>
     			 </div>
					 <div class="modal-content statictext" style="padding: 20px" >
						 Your online quote should be accurate. However, there could be some situations where the price may need to be adjusted by the measuring tech. Some common situations could be.
							<br><br>
						 1-Window needs to be tempered.<br><br>
						 2-Window is not measured correctly.<br><br>
						 3-Wrong window type was selected.<br><br>
						 4-Other options customer adds.<br><br>

						 The measure tech will confirm the window info that you input to your order. If any adjustments are needed he/she will notify you before you commit to the order.
<!--					 <div class="cart-form">-->

<!--							   <div style="margin-left:40%">-->
<!--			          					<label for="agree" >-->
<!--&lt;!&ndash;										<input type="checkbox" id="i_gree" onclick="agrees()" name="t&c">&ndash;&gt;-->

<!--											<label class="grid-checks">-->
<!--										  <input type="checkbox" id="i_gree" onclick="agrees()" name="t&c">-->
<!--										  <span class="checkmark"></span>-->
<!--										</label>-->



<!--									</label>-->
<!--									<a><b >I agree*</b></a>-->
<!--								</div>-->

<!--							   <div class="form-group">-->
<!--			          					<label>Mobile Number</label>-->
<!--										<input type="number" id="number"  name="number">-->
<!--			          				</div>-->
<!--							   </div>-->
<!--					 </div>-->
						 <div class="crt-btns2">
				       			<button style="margin-left:40%;cursor:pointer"  id="agree" type="button" onclick="agreed()">I agree</button>
				       		</div>

				</div>
			  </div>
			</div>
			</div>
			<div class="modal fade cart-modals" style="padding-top: 60px;"  id="orderproccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Order proccess</h4>
     			 </div>

			    <div class="modal-content" style="padding:20px">
					<h5>Once you have placed your order our measure tech will call you to schedule an appointment to get the final measurements.
					<br><br>
					A 50% downpayment is required at that time to place your order with the window factory.<br><br>
					After your windows are installed the final 50% is due.</h5>
				</div>

				</div>
			  </div>
			</div>
			<div class="modal fade cart-modals" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			 		 <div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      <div class="modal-body">
				       <div class="add-head">
				       		<h4>Enter Your Details</h4>
				       </div>
				       <div class="add-cnt">

<p style="color:white;font-size: 18px;">We respect your privacy and
							   take protecting it seriously. We will NEVER share your info with anyone</p>
				       		<p id="cartsave"></p>

						   <div class="cart-form">
							   <input type='hidden' id="csrftoken" name='csrftoken' value='{{ csrf_token }}' />
							   <div class="form-group">
			          					<label>Address*</label>
										<input type="text" placeholder="address" id="address" required name="address">
			          				</div>
							   <div class="form-group">
			          					<label>city*</label>
										<input type="text" id="city" placeholder="city" required name="city">
			          				</div>
							   <div class="form-group ">
			          					<label>phone*</label>
								   <input type="text" id="phone" onkeyup="addHyphen(this)" required placeholder="phone number" />
<!--										<input type="number" id="phone" placeholder="phone number" required name="phone">-->
			          				</div>
							   <div class="form-group " >
			          					<label>Best time to call?</label>

								   <input type="number"  id="hours" placeholder="HH" name="hours" min="0" max="2" class="col-3 col-sm-3 col-md-3 hours">
								   &nbsp;&nbsp;:&nbsp;&nbsp; <input type="number" id="minutes" placeholder="MM" name="minutes" min="0" max="2" class="col-3 col-sm-3 col-md-3">
<!--								   <select  id="hours" >-->
<!--									   <option  value="01">01</option>-->
<!--									   <option  value="02">02</option>-->
<!--									   <option  value="03">03</option>-->
<!--									   <option  value="04">04</option>-->
<!--									   <option  value="05">05</option>-->
<!--									   <option  value="06">06</option>-->
<!--									   <option  value="07">07</option>-->
<!--									   <option  value="08">08</option>-->
<!--									   <option  value="09">09</option>-->
<!--									   <option  value="10">10</option>-->
<!--									   <option  value="11">11</option>-->
<!--									   <option  value="12">12</option>-->
<!--								   </select>-->
<!--								   <select id="minute" >-->
<!--									   <option  value="00">00</option>-->
<!--									   <option  value="05">05</option>-->
<!--									   <option  value="10">10</option>-->
<!--									   <option  value="15">15</option>-->
<!--									   <option  value="20">20</option>-->
<!--									   <option  value="25">25</option>-->
<!--									   <option  value="30">30</option>-->
<!--									   <option  value="35">35</option>-->
<!--									   <option  value="40">40</option>-->
<!--									   <option  value="45">45</option>-->
<!--									   <option  value="50">50</option>-->
<!--									   <option  value="55">55</option>-->
<!--									   <option  value="60">60</option>-->

<!--								   </select>-->
<!--										<input type="text" id="time" data-format="HH:mm" data-template="HH : mm" name="datetime">-->
<!--								 <input type="text" id="timepicker-12-hr-clearable" name="timepicker-12-hr-clearable" class="timepicker-12-hr-clearable">-->
<!--                                   <input  id="time" value="00:00" required  type="text">-->
<!--										<input style="width:65%" type="time" id="time" placeholder="best time to call" min="01:00" max="12:00" required  data-format="HH:mm"  name="datetime">-->
										<input  style="float:right" id="timetype" type="checkbox" checked data-toggle="toggle" data-on="AM" data-off="PM" data-onstyle="success" data-offstyle="danger">
</div>

							    <p style="color:red;font-size: 20px;" id="modalrequiered"></p>

				       		<div class="crt-btns2">

				       			<button type="button" class="nxt-btn" style="margin-left:35%;" onclick="savedetails()">Submit</button>

							</div>
			      </div>
			    </div>
			  </div>
			</div>
			</div>
			</div>
			<div class="modal fade dealer-modals" id="dealerdetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog vdo-mdls" role="document">
			    <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><img src="{% static 'shopping/images/dealer/image.png' %}"></h4>
     			 </div>

			    <div class="modal-content">
					<div class="bnr">
						<img src="{% static 'shopping/images/dealer/bnr_image.png' %}">
					</div>
					<div class="order-txt-sec">
						<h2>Utah's Best Windows and Door Products & Prices</h2>
						<div class="row">
							<div class="col-md-6">
								<div class="bnr-pera">
									<p>Let Utah Discount Windows prove to you that beautiful high performing windows don't have to cost an arm and a leg. Are you paying too much for the electricity and gas needed to heat and cool your home? We will help you with window and door options that will make a huge difference to your bottom line!
										<br>
									Many homeowners have no idea that they are over paying hundreds of dollars per year. We have over 20 years of experience in window and door replacement and we help you save money!
										<br>
									Utah Discount Windows  is a local owner operated company.  We will provide you with the information you need to improve the overall efficiency and comfort of your home through window and door replacement! Don't delay, Call us Today! </p>
								</div>
							</div>
							<div class="col-md-6">
								<div >
									<img style="width: 100%; margin-bottom: 10px;" src="{% static 'shopping/images/review_images/image1.png' %}">
									<img style="width: 100%;margin-bottom: 10px;" src="{% static 'shopping/images/review_images/image2.png' %}">
									<img style="width: 100%;margin-bottom: 10px;" src="{% static 'shopping/images/review_images/image3.png' %}">
									<img style="width: 100%;margin-bottom: 10px;" src="{% static 'shopping/images/review_images/image4.png' %}">
									<img style="width: 100%;margin-bottom: 10px;" src="{% static 'shopping/images/review_images/image5.png' %}">
									<img style="width: 100%;margin-bottom: 10px;" src="{% static 'shopping/images/review_images/image6.png' %}">
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			  </div>
			</div>
		</div>
	  </div>
{% endblock %}
{% block script %}
    <script src="{% static 'shopping/js/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static 'shopping/js/jquery.fugit.js' %}"></script>
<script src="{% static 'shopping/js/wickedpicker.min.js' %}"></script>

<script>
  var twelveHour = $('.timepicker-12-hr').wickedpicker();
            $('.time').text('//JS Console: ' + twelveHour.wickedpicker('time'));
            $('.timepicker-24-hr').wickedpicker({twentyFour: true});
            $('.timepicker-12-hr-clearable').wickedpicker({clearable: true});
</script>
    <script>
    	function increaseValue(id) {
  		var value = document.getElementsByClassName('number-'+id)[0].value;

		value
		value = isNaN(value) ? 0 : value;
		value++;
		document.getElementsByClassName('number-'+id)[0].value = value;

		$.ajax({
		  type :'post',

		  data: {
			'cartid' : id,
			'value' : value,
			'csrfmiddlewaretoken' : '{{csrf_token}}',

		  },
		  success: function(result){
			}});
		}



	function deleteitem(id){
		$.ajax({
			type:'post',
			data: {
			'deletid':id,
			'csrfmiddlewaretoken' : '{{csrf_token}}',
			},
			success: function(result){
				location.reload();
			},
		})
	}

    </script>
	<script>
	$(function(){
    $('#time').combodate({
        firstItem: 'name', //show 'hour' and 'minute' string at first item of dropdown
        minuteStep: 1
    });
});


	function savedetails(){

		$("#modalrequiered").empty();
		var address = $('#address').val();
		var city = $('#city').val();
		var phone = $('#phone').val();
		var hours = $('#hours').val();
		var minutes = $('#minutes').val();
		var time = hours + ":" + minutes

		  if ($('#timetype').prop('checked') == true){
       			time = time + " AM";

			}else{
			   time = time + " PM";
			}

		var csrftoken = $('#csrftoken').val();
		var url = "{% url 'dealer_details'  %}";


		if (address && city && phone && time){
			$.ajax({
				type:'post',
				url: url,
				data :{
					'address':address,
					'city': city,
					'phone': phone,
					'time': time,
					'csrfmiddlewaretoken' : csrftoken
				},
				success: function(result){
					document.location.href = "{% url 'details' %}";
				}

			})
		}else {
			$("#modalrequiered").empty();
			 $("#modalrequiered").append('All field required please enter value');
		}
	}

window.onload = function() {
	var value = parseFloat($("#total_prices").val());

	value = value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

	if(value == 'NaN'){
	$("#total_prices").val(0);
		$('#payment').append(0);
	}
	else{
		$("#total_prices").val(value);
		$('#payment').append(value);
	}

};
</script>
<script>

$(function () {
  $("input#hours").keydown(function () {
    // Save old value.
    if (!$(this).val() || (parseInt($(this).val()) <= 12 && parseInt($(this).val()) >= 1)){
    $(this).data("old", $(this).val());}else{$("#modalrequiered").empty();
      $("#modalrequiered").append('Hours input should be between 0 to 12');}
  });
  $("input#hours").keyup(function () {
    // Check correct, else revert back to old value.
    if (!$(this).val() || (parseInt($(this).val()) <= 12 && parseInt($(this).val()) >= 1));
    else
      $(this).val($(this).data("old"));
  });
});
$(function () {
  $("input#minutes").keydown(function () {
    // Save old value.
    if (!$(this).val() || (parseInt($(this).val()) <= 59 && parseInt($(this).val()) >= 00)){
    $(this).data("old", $(this).val());}else{$("#modalrequiered").empty();
      $("#modalrequiered").append('Minutes input should be between 0 to 59');}
  });
  $("input#minutes").keyup(function () {
    // Check correct, else revert back to old value.
    if (!$(this).val() || (parseInt($(this).val()) <= 59 && parseInt($(this).val()) >= 00));
    else
      $(this).val($(this).data("old"));
  });
});
        </script>


<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '850297541691093');
fbq('track', 'PageView');
fbq('track', 'AddToCart');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=850297541691093&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
{% endblock %}