{# Update template #}

{% load hide_order_default_values %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
</head>
<body>

<h1>VERSION 23.01</h1>

<!-- Invoice details -->
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-xs-center">#</th>
                <th>Item</th>
                <th class="text-xs-center">Quantity</th>
                {% if invoice.price_itemize %}
                    <th class="text-xs-right">
                        <nobr>Unit Cost</nobr>
                    </th>
                    <th class="text-xs-right">
                        <nobr>Unit Total</nobr>
                    </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>


            {% for item in items %}
                <tr>
                    <td class="text-xs-center">NO FILTER: {{ forloop.counter }}</td>
                    <td>
                        <strong>{{ item.product.name }}</strong>
                        {% for option in item.get_data %}
                            <nobr class="ml-1">{{ option.title }}: <i>{{ option.value }};</i></nobr>
                        {% endfor %}
                    </td>
                    <td class="text-xs-center">1</td>
                    {% if invoice.price_itemize %}
                        <td class="text-xs-right">${{ item.price }}</td>
                        <td class="text-xs-right">${{ item.price }}</td>
                    {% endif %}
                </tr>
            {% endfor %}



            {% for item in items %}
                <tr>
                    <td class="text-xs-center">{{ forloop.counter }}</td>
                    <td>
                        <strong>{{ item.product.name }}</strong>
                        {% for option in item.get_data|hide_order_default_values %}
                            <nobr class="ml-1">{{ option.title }}: <i>{{ option.value }};</i></nobr>
                        {% endfor %}
                    </td>
                    <td class="text-xs-center">1</td>
                    {% if invoice.price_itemize %}
                        <td class="text-xs-right">${{ item.price }}</td>
                        <td class="text-xs-right">${{ item.price }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% if invoice.discount_price %}
                <tr>
                    <td colspan="3"></td>
                    <td><strong>Subtotal</strong></td>
                    <td class="text-xs-right">${{ invoice.subtotal_price }}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td><strong>Discounts</strong></td>
                    <td class="text-xs-right">${{ invoice.discount_price }}</td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="3"></td>
                <td><strong>Total</strong></td>
                <td class="text-xs-right">${{ invoice.total_price }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-5 offset-xs-1">
        {% if invoice.signature_user %}
            <div class="row" style="height: 100px;">
                <div class="col-xs-12" style="position: relative;">
                    <h5 style="position: absolute; bottom: 0; ">{{ order.user.first_name }} {{ order.user.last_name }}</h5>
                    <img style=" height: 100%;" src="{{ invoice.signature_user }}">
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-xs-5">
        {% if invoice.signature_customer %}
            <div class="row" style="height: 100px;">
                <div class="col-xs-12" style="position: relative; text-align: right">
                    <h5 style="position: absolute; right:20px; bottom: 0; ">{{ order.customer.first_name }} {{ order.customer.last_name }}</h5>
                    <img style=" height: 100%;" src="{{ invoice.signature_customer }}">
                </div>
            </div>
        {% endif %}
    </div>
</div>

{#{% if discounts %}#}
{#    <div class="row">#}
{#        <div class="col-xs-12">#}
{#            <h5>Discount</h5>#}
{#            <hr/>#}
{#            {% for discount in discounts %}#}
{#                <div class="row">#}
{#                    <div class="col-xs-6">{{ discount.name }}</div>#}
{#                    <div class="col-xs-6 text-xs-right">{{ discount.get_amount_title }}</div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#{% endif %}#}

</body>
</html>