{# Update template #}

{% load hide_order_default_values %}

<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
</head>
<body>

<!-- Invoice header -->
<div class="row mb-1">
    <div class="col-sm-12"
         style="border-bottom: 1px solid lightgray; height: 120px; padding-bottom: 10px;">
        <img src="{{ company.logo }}" style="height: 100%">
    </div>
</div>

<!-- Invoice information -->
<div class="row mb-1">
    <div class="col-xs-4">
        <h6>From:</h6>
        {% if company.name %}
            <div><strong>{{ company.name }}</strong></div>
        {% endif %}
        {% if company.address %}
            <div>{{ company.address }}</div>
        {% endif %}
        <div>
            {{ company.address_city|default:"" }},
            {{ company.address_state|default:""}}
            {% if company.address_zip %}{{ company.address_zip }}{% endif %}
        </div>
        {% if company.phone %}
            <div>{{ company.phone }}</div>
        {% endif %}
        {% if company.website %}
            <div>{{ company.website }}</div>
        {% endif %}
        {% if company.email_id %}
        <div>{{ company.email_id }}</div>
        {% endif %}
    </div>
    <div class="col-xs-4">
        <h6>To:</h6>
        <div><strong>{{ order.customer.first_name }} {{ order.customer.last_name }}</strong></div>
        {% if order.customer.address  %}
            <div>{{ order.customer.address }}</div>
        {% endif %}
        <div>
            {% if order.customer.city  %}
                <span>{{ order.customer.city|default:"" }}</span>
            {% endif %}
            {% if order.customer.city and  order.customer.state %}
                <span>,</span>
            {% endif %}
            {% if order.customer.state  %}
                <span>{{ order.customer.state|default:"" }}</span>
            {% endif %}
            {% if order.customer.zip  %}
                <span>{{ order.customer.zip|default:"" }}</span>
            {% endif %}


        </div>
         {% if order.customer.phone  %}
        <div>{{ order.customer.phone }}</div>
        {% endif %}

         {% if order.customer.email  %}
            <div>{{ order.customer.email }}</div>
        {% endif %}
        {% if order.show_review_link_on_pdf  %}
        <br>
        <span><a href='{{ order.user.review_link|default:"" }}'>Review us</a></span>
        {% endif %}
    </div>
    <div class="col-xs-4">
        <h6>Details:</h6>
        <div>Sales Order <strong>{{ invoice.uid }}</strong></div>
        <div>Created {{ invoice.created_at }}</div>
    </div>
</div>

<!-- Invoice details -->
<div class="row">
    <div class="col-sm-12">
        <table width="100%" class="table table-striped">
            <thead>
            <tr>
                <th width="5%" class="text-xs-center">#</th>
                <th width="65%">Item</th>
                {% if invoice.price_itemize %}
                    <th width="30%" colspan="3" class="text-xs-right">
                        <nobr>Unit Total</nobr>
                    </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td class="text-xs-center">{{ forloop.counter }}</td>
                    <td>
                        <strong>{{ item.product.name }}</strong>
                        <div>
                            {% for option in item.get_data|hide_order_default_values %}
                            {% if option.title != option.value %}
                            <span style="margin-right: 10px">{{ option.title }}: <b>{{ option.value }}</b></span>
                            {%  endif %}
                            {% endfor %}
                        </div><br/>
                        {% if item.dimension_notes %}
                        <div>Dimension Notes: <i>{{item.dimension_notes}};</i></div>
                        {% endif %}
                        {% if item.note %}
                        <div>Note: <i>{{item.note}};</i></div>
                        {% endif %}

                    </td>
                    {% if invoice.price_itemize %}
                        <td colspan="3" class="text-xs-right">${{ item.price }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% if invoice.discount_price %}
                <tr>
                    <td colspan="3"></td>
                    <td><strong>Subtotal</strong></td>
                    <td class="text-xs-right">${{ invoice.subtotal_price }}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td><strong>{{ invoice.discount_name }}</strong></td>
                    <td class="text-xs-right">${{ invoice.discount_price_abs }}</td>
                </tr>
            {% endif %}
            {% if invoice.enable_tax %}
                <tr>
                    <td colspan="3"></td>
                    <td><strong>Tax</strong></td>
                    <td class="text-xs-right">${{ invoice.tax_amount | floatformat:2 }}</td>
                </tr>
            {% endif %}
            {% if invoice.total_price is not None %}
            <tr>
                <td colspan="3"></td>
                <td><strong>Total</strong></td>

                <td class="text-xs-right">${{ invoice.total_price | floatformat:2 }}</td>

            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% if invoice.invoice_notes  %}
<div class="row">
    <div class="col-xs-12">
        <h5>Notes</h5>
        <pre>{{ invoice.invoice_notes}}</pre>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-xs-5 offset-xs-1">
        {% if invoice.signature_user and company and company.display_signature_boxes  %}
            <div class="row" style="height: 100px;">
                <div class="col-xs-12" style="position: relative;">
                    <h5 style="width:100%; position: absolute; bottom: 0; ">{{ order.user.first_name }} {{ order.user.last_name }}</h5>
                    <img style=" height: 100%;" src="{{ invoice.signature_user }}">
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-xs-5">
        {% if invoice.signature_customer and company and company.display_signature_boxes %}
            <div class="row" style="height: 100px;">
                <div class="col-xs-12" style="position: relative; text-align: right">
                    <h5 style="width:100%; position: absolute; right:20px; bottom: 0; ">{{ order.customer.first_name }} {{ order.customer.last_name }}</h5>
                    <img style=" height: 100%;" src="{{ invoice.signature_customer }}">
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% if checklist %}
<br/>
<br/>
<div class="card-header"><strong style="font-size: 18px">{{checklist.name}}</strong></div>
<div class="card-block">
    <div class="row">
        <!--Name-->
        <div class="row">
            <div class="col-sm-12">
                <table width="100%" border="1">
                {% for item in questions %}
                    {% if item.is_section %}
                        <tr>
                            <td colspan="2" style="padding: 8px;font-weight: bold">{{item.question}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td width="90%" style="padding: 8px;">
                                <span>{{item.question}}</span>
                                {% for key, value in checklist_notes.items %}
                                    {% if key == item.id %}
                                <br/> <span>Notes: {{value}}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td style="padding: 8px;"> <b>
                                {% for key, value in checklist_answers.items %}
                                {% if key == item.id %}
                                    {% if value == 'worn' %} <span style="color:#ffc107">WORN</span> {% endif %}
                                    {% if value == 'na' %} <span style="color:#0000ff">NA</span> {% endif %}
                                    {% if value == 'fail' %} <span style="color:#dc3545">FAIL</span> {% endif %}
                                    {% if value == 'pass' %} <span style="color:#28a745">PASS</span> {% endif %}
                                {% endif %}
                                {% endfor %}
                            </b>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endif %}

{#{% if discounts %}#}
{#    <div class="row">#}
{#        <div class="col-xs-12">#}
{#            <h5>Discount</h5>#}
{#            <hr/>#}
{#            {% for discount in discounts %}#}
{#                <div class="row">#}
{#                    <div class="col-xs-6">{{ discount.name }}</div>#}
{#                    <div class="col-xs-6 text-xs-right">{{ discount.get_amount_title }}</div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#{% endif %}#}

</body>
</html>


