{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'shopping/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shopping/css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <title>{% block title %}{% endblock %} | Bid Kahuna</title>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="logo" >
<!--                <a href="/"><img src="{% static 'shopping/images/logo-(1).png' %}"></a>-->
               <a href="/shop"><img src="{% static 'shopping/images/udw-logo.png' %}"></a>
			  </div>

            </div>
            <div class="col-md-8">
             <div class="right-email" style="margin-top: 14px;">
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> info@utahdiscountwindows.us   |</p>

	 {% if request.session.email %}
		{% if request.session.items > 0 %}
		  &nbsp;&nbsp;<a style="cursor:pointer;color:white" href="{% url 'cart' %}" ><b>Cart </b>&nbsp;<p> ({{request.session.items}})</p></a>&nbsp;&nbsp;
		{% else %}
			&nbsp;&nbsp;<a style="cursor:pointer;color:white"><b>Cart</b><p>(0)</p></a>&nbsp;&nbsp;
		{% endif %}
				 &nbsp;<p>|</p>&nbsp;
		<a style="cursor:pointer;color:white" href="{% url 'emaillogout' %}"><b>   Log Out</b></a>
		   {% endif %}
		  {% if not request.session.email %}
		&nbsp;&nbsp;<a  style="cursor:pointer; " onclick="showresgister()"  aria-hidden="true"><b>Register  </b></a>&nbsp;&nbsp;<p>|</p>&nbsp;
		<a  style="cursor:pointer; " onclick="showlogin()"><b>Log In</b></a>
	 {% endif %}
				  <p>|</p>&nbsp;<a style="cursor:pointer;color:white" href="{% url 'cart' %}"><b>  Privacy</b></a>&nbsp;&nbsp;
             </div>
            </div>
          </div>
        </div>
      </div><!--- end-header --->
{% block content %} {% endblock %}
<div class="modal fade cart-modals" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      <div class="modal-body">
				       <div class="add-head">
				       		<h4>Register</h4>
				       </div>
				       <div class="add-cnt">
						   <p style="color:white;font-size: 18px;">We respect your privacy and
							   take protecting it seriously. We will NEVER share your info with anyone</p>
				       		<p id="cartsave"></p>

						   <div class="cart-form">
							   <input type='hidden' id="csrftoken" name='csrftoken' value='{{ csrf_token }}' />
							   <div class="form-group">
			          					<label>Name*</label>
										<input type="text" id="username" required name="name">
			          				</div>
							   <div class="form-group">
			          					<label>Email*</label>
										<input type="email" id="email" required name="email">
			          				</div>
							   <div class="form-group">
			          					<label>Zip Code*</label>
										<input type="number" id="pincode" required name="pincode">
			          				</div>
						   <p style="color:red" id="modalrequiered"></p>


				       </div>
			      </div>

			    </div>
					  <div class="crt-btns2">
				       			<button type="button" style="margin-left: 40%;margin-bottom: 10px;cursor:pointer" onclick="register()">Submit</button>
				       		</div>
			  </div>
			</div>
</div>
<div class="modal fade cart-modals" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      <div class="modal-body">
				       <div class="add-head">
				       		<h4>Login</h4>
				       </div>
				       <div class="add-cnt">
						   <div class="cart-form">
							   <div class="form-group">
			          					<label style="color:white">Email*</label>
										<input type="email"  id="useremail" required name="email">
			          				</div>
						   			<p style="color:red" id="modalrequiered1"></p>
				       </div>

			      </div>
			    </div>
					<div class="crt-btns2">
				       			<button type="button" style="margin-left: 40%;margin-bottom: 10px;cursor:pointer" onclick="login()">Submit</button>
				       		</div>
			  </div>

			</div>
    </div>
    <script src="{% static 'shopping/js/slim.min.js' %}"></script>
    <script src="{% static 'shopping/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'shopping/js/popper.min.js' %}"></script>
    <script src="{% static 'shopping/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'shopping/js/custom-slider.js' %}"></script>
     <script src="{% static 'shopping/js/combodate.js' %}"></script>
		<script type="text/javascript" id="hs-script-loader" async defer
				src="//js.hs-scripts.com/7336001.js"></script>
<script src="{% static 'shopping/js/dimension_script.js' %}"></script>
		<!--		<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7328185.js"></script>-->
 <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168168429-1"></script>
		<script>   window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);} gtag('js', new Date());   gtag('config', 'UA-168168429-1'); </script>

		<script>


        function showresgister(){
            $('#emailModal').modal('hide');
            $('#emailModal').modal('show');
           }

         function showlogin(){
            $('#login').modal('hide');
            $('#login').modal('show');
           }


         function login(){

            var email = $('#useremail').val();
            var csrftoken = $('#csrftoken').val();
            console.llog

            if (email){

                $('#exampleModal').modal('hide');
                $("#spinner").addClass("loading");

                    $.ajax({
                    type:'post',
                    url: '{% url "emaillogin" %}',
                    data: {
                        'email' : email,
                        'csrfmiddlewaretoken' : csrftoken
                        },

                    success: function(result){
                    console.log(result);

                        if (result.success == false){
                            $("#modalrequiered1").append('Email not exists');
                        }
                        else{
                            location.reload();

                        }
                    }

                    });
                }
                else{

                    $("#modalrequiered1").append('Field required please enter value');

                    };
         }


        function register(){


            $("#modalrequiered").empty();


            var name = $('#username').val();
            var email = $('#email').val();
            var pincode = $('#pincode').val();
            var number = $('#number').val();
            var csrftoken = $('#csrftoken').val();

            if (name && email && pincode){

                $('#exampleModal').modal('hide');
                $("#spinner").addClass("loading");

                    $.ajax({
                    type:'post',
                    url: '{% url "emailregister" %}',

                    data: {
                        'name': name,
                        'email' : email,
                        'pincode' : pincode,
                        'number' : number,
                        'csrfmiddlewaretoken' : csrftoken
                        },

                    success: function(result){
                    console.log(result)
                        if (result.success == false){
                            $("#modalrequiered").append('Email already exists');
                        }
                        else{

                            $('#emailModal').modal('hide');

                        }
                    }
                    });
                }else{
                    $("#modalrequiered").append('Field required please enter value');
                    };
            };
    </script>

{% block script %}  {% endblock %}

  </body>
</html>
