
@font-face {
  font-family: 'FontsFree-Net-proxima_nova_bold-webfont';
  src: url('../fonts/FontsFree-Net-proxima_nova_bold-webfont.eot');
  src: url('../fonts/FontsFree-Net-proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FontsFree-Net-proxima_nova_bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
  src: url('../fonts/FontsFree-Net-proxima_nova_reg-webfont.eot');
  src: url('../fonts/FontsFree-Net-proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FontsFree-Net-proxima_nova_reg-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url(../fonts/'ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
       url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Semibold.woff') format('woff'),
       url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



body{
    font-family: 'ProximaNova-Regular';
}

.main{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-image: url(../images/back.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.frame-back{
    background-image: url(../images/frame-back.png) !important;
}
.choose-window-back{
    background-image: url(../images/choose-window.jpg) !important;
}
.option-back{
    background-image: url(../images/option-back.jpg) !important;
}

.header{
    padding: 22px 0px;
    color: #fff;
    border-bottom: 1px #3c3c3c solid;
}
.right-email{
    text-align: right;
}
.right-email .fa{
    margin-right: 5px;
}
.right-email p{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 20px;
}
.toggal-man{
    float: right;
    margin-left: 20px;
}
.toggal-man img#dropdownMenuButton {
    background: transparent;
    border: 0px;
}
.toggal-man .dropdown-menu.show {
    display: block;
    left: -98px !important;
}
.partner-section {
    width: 100%;
    padding: 80px 0px;
    color: #fff;
    text-align: center;
}

.room-section{
    width:100%;
    padding: 50px 0px;
    color: #fff;
}
.partner-section h2{
    color: #eb9b2f;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    font-family: 'ProximaNova-Bold';
    width: 100%;
    margin-bottom: 70px;
}
.partner-section .carousel-indicators {
    bottom: -30px;
    display: none;
  }
  .partner-section .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: -80px;
  }
  img.window-pic {
    display: block !important;
}
.room-section h2{
    color: #eb9b2f;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    font-family: 'ProximaNova-Bold';
    width: 100%;
    margin-bottom: 50px;
}
.temp-check {
    border-style: ridge;
    border-color: #ec9c30;
    border-width: thin;
    display: inline-block;
    width: 100%;
    float: left;
    padding:10px;
    min-height:107px;
    border-radius: 10px
}
.modal-dialog.vdo-mdls .help-text {
    padding: 20px;
}
.temp-check select {
    width: 120px !important;
    float: right;
    padding: 6px !important;
    font-size: 13px;
}


.all-room .liv-room {
    width: 100%;
    text-align: center;
    background: rgba(5,6,9,0.7);
    padding: 30px;
    border-radius: 10px;
    border: 3px #111213 solid;
    height: 160px;
    line-height: 98px;
    cursor: pointer;
    position: relative;
}

.all-room {
    cursor: pointer;
}
.all-room .liv-room{
  position: relative;
}
.all-room .liv-room img{
    max-width: 80px !important;
    width: 100% !important;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.all-room p{
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 19px;
}
.all-room:hover .liv-room{
    border: 2px #eb9b2f solid;
}

.all-room:hover p{
    color: #eb9b2f;
    font-family: 'ProximaNova-Semibold';
}

.width-sec input {
    color: #fff;
    background: #020203;
    border: 1px #fba736 solid;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.cart-form label {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}
.cart-form .form-group {
    width: 100%;
    float: left;
    padding: 0px 10px;
}
.crt-btns button{
    background: #fff;
    border: 0px;
    width: 100px;
    cursor: pointer;
    padding: 6px 0px;
    border-radius: 20px;
    display: inline-block;
    clear: both;
}
.crt-btns2 button{
    ackground: #fff;
    border: 0px;
    width: 100px;
    padding: 6px 0px;
    border-radius: 20px;
    display: inline-block;
    clear: both;

}
.cart-form input{
    color: #fff;
    background: #020203;
    border: 1px #eb9b2f solid;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.slider_sec {
   text-align:center;
   color:#fff;
   font-family: 'Raleway', sans-serif;
    height:auto;
  }

/*.slider_in {padding: 65px 40px 80px 40px;}*/

.img_wrp {
  line-height:0px;
   padding:5px;
 }
.img_wrp img {
  transition: all 0.5s ease;
}
{% load static %}
.owl-prev {
    position: absolute;
    z-index: 10;
    display: inline-block;
    left: -45px;
    cursor: pointer;
    font-size: 0.1px;
    top: 25%;
    width: 45px;
    height: 40px;
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
}

.owl-next {
    position: absolute;
    z-index: 10;
    display: inline-block;
    right: -60px;
    cursor: pointer;
    font-size: 0.1px;
    top: 25%;
    width: 45px;
    height: 40px;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
}


/*Owl carousel Library*/

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
  z-index: 0
}



@-webkit-keyframes fadeOut {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.owl-height {
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  -ms-transition: height .5s ease-in-out;
  -o-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

.owl-carousel .owl-stage-outer {
    min-height: 260px;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.item p {
    position: absolute;
    z-index: 1050;
    font-size: 20px;
    text-transform: capitalize;
    color: #B4B4B4;
    width: 100%;
    left: 0;
    top: 105%;
    height: 100px;
}
.owl-item:hover p{
    color: #eb9b2f;
    font-family: 'ProximaNova-Semibold';
    font-size: 20px;
}

.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.owl-carousel.owl-loaded {
  display: block
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block
}

.owl-carousel.owl-hidden {
  opacity: 0
}

.owl-carousel .owl-refresh .owl-item {
  display: none
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

/*.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}*/
.owl-item {
    width: 150px !important;
    margin-right: 15px !important;
    text-align: center;
    background: rgba(5,6,9,0.7);
    padding: 25px;
    border-radius: 10px;
    border: 3px #111213 solid;
    height: 160px;
    cursor: pointer;
    position: relative !important;
}
.owl-item .item .fa {
    position: absolute;
    color:white;
    top: 8px;
    right: 12px;
    cursor: pointer;
}
.owl-item .item img {
    max-width: 95px !important;
    width: 100% !important;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.owl-item:hover img{
  display: none;
}
.owl-item:hover{
  border-color: #eb9b2f;
}

.owl-item:hover img.scd-img{
  display: block;
}
.down-pay.top div {
 margin-left: 0px !important;
}
.item:hover img{
  display: none;
}
.item:hover img.scd-img{
  display: block;
}
.owl-stage {
    margin-left: 0px;
}
.scd-img{
  display: none;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab
}

.owl-carousel.owl-rtl {
  direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
  float: right
}

.no-js .owl-carousel {
  display: block
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -ms-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000
}

.
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale .1s ease;
  -moz-transition: scale .1s ease;
  -ms-transition: scale .1s ease;
  -o-transition: scale .1s ease;
  transition: scale .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -ms-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1
}
button.nxt-btn {
    background: #eb9b2f;
    width: auto;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 25px;
    text-decoration: none;
    padding: 0px 25px;
    border: 0px;
    margin: 15px 5px;
    outline: none;
}
.room-section ul {
    padding-left: 0px;
    margin-bottom: 0px;
}
.room-section ul li{
    width: 14%;
    list-style: none;
    display: inline-block;
    margin: 20px;
    cursor:pointer;
}

img.scd-pic {
    display: none;
    width: 80px !important;
}
.all-room:hover img{
    display: none;
}
.all-room:hover img.scd-pic{
    display: block;
    margin: auto !important;
}

.option-section{
    width: 100%;
    padding: 80px 0px;
    color: #fff;
}
.option-section h2{
  color: #eb9b2f;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    font-family: 'ProximaNova-Bold';
    width: 100%;
    margin-bottom: 70px;
}
.temper {
    background: rgba(5,6,9,0.8);
    border-radius: 10px;
    border: 2px #111213 solid;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    position:relative;
}
.temper h5.video {
    color: #fff;
    display: inline-block;
    float: right;
    clear: both;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    background: #fba736;
    text-align: center;
    max-width: 60px;
    margin-top: 20px;
    line-height: 16px;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    bottom: 5px;
    right: 25px;

}

.btn-pdf {
    color: #fff;
    display: inline-block;
    float: right;
    clear: both;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    background: #fba736;
    text-align: center;
    max-width: 185px;
    margin-top: 20px;
    line-height: 16px;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 2px;
    max-width: 260px;


}
.btn-brochure {
    color: #fff;
    display: inline-block;
    float: right;
    clear: both;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    background: #fba736;
    text-align: center;
    max-width: 140px;
    margin-top: 20px;
    line-height: 16px;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 5px;


}
h5.send-top {
    text-align: right;
    margin-top: 15px;
    margin-right: 15px;
    color: #fba736;
}
.temper_help h5.video {
    color: white;
    display: inline-block;
    float: right;
    clear: both;
    width: 100%;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    cursor:pointer;

}
.temper-2 {
    background: rgba(5,6,9,0.8);
    border-radius: 10px;
    border: 2px #111213 solid;
    width: 100%;
    margin: auto;
    margin-top: 15px;
}
.temper .hori-slide{
  text-align: center;
  color: #fff;
  border-right: 2px #111213 solid;
  padding:20px;
  position: relative;
}
.temper .hori-slide p{
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 20px;
  color: #b4b4b4;
}
.temper .hori-slide .hor-pic {
    background: #010202;
    padding: 0px;
    border: 2px #111213 solid;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 16px;
    width: 100%;
    max-width: 174px;
    height: 135px;
    line-height: 166px;
    margin-top: 15px;
    position: relative;
}
.temper .hori-slide .hor-pic img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.temper-2 .hori-slide{
  text-align: center;
  color: #fff;
  border-right: 2px #111213 solid;
  padding:20px;
  position: relative;
}
.temper-2 .hori-slide p {
    text-transform: capitalize;
    font-size: 20px;
    color: #b4b4b4;
    margin-bottom: 5px;
}
.temper-2 .hori-slide .hor-pic {
    background: #010202;
    padding: 0px;
    border: 2px #111213 solid;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 16px;
    width: 100%;
    max-width: 174px;
    height: 135px;
    line-height: 166px;
    margin-top: 15px;
    position: relative;
}
.temper-2 .hori-slide .hor-pic img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85% !important;
    width: 100% !important;
    margin: auto;

}




.padding-left-0{
  padding-left: 0px !important;
}
.padding-right-0{
  padding-left: 0px !important;
}
.padding-0{
  padding:0px !important;
}
.griid {
    padding: 25px;

    margin-bottom:20px;
}
.griid.boder {
    border-bottom: 2px #fba736 solid !important;
}
.modal-dialog.vdo-mdls .cart-form label {
    float: left;
}
.modal-dialog.vdo-mdls .crt-btns2 button#agree {
    margin-top: 20px;
}
.modal-dialog.vdo-mdls .cart-form b {
   margin-top: -10px;
    float: left;
    margin-left: 50px;
}
.griid:last-child {
    border-bottom: 0px;
}
.width-sec label {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 10px;
}
.width-sec select {
    background: transparent;
    border: 2px #111213 solid;
    color: #fff;
    width: 160px;
    padding: 12px;
    border-radius: 10px;

}
/** .track-slt select{
  width:100px !important;
} **/
.width-sec select option {
    background: #010202;
}
.modal-dialog.vdo-mdls {
    max-width: 800px;
}
input {
    outline: none !important;
}
select {
    outline: none !important;
}

/*
.main-temper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    padding-right: 30px;
}
.main-temper::-webkit-scrollbar {
   width: 4px;
   height: 10px;
   background:red;
}
.main-temper::-webkit-scrollbar-thumb {
   background: -webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#fafafa));
   background: linear-gradient(to bottom,#fafafa,#fafafa);
   border-radius: 30px;
   -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
   box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.main-temper::-webkit-scrollbar-track {
   background: linear-gradient(to right,#504f50,#504f50 1px,#504f50 1px,#504f50);
}*/

.grid-checks {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    display: inline-block;

}

/* Hide the browser's default checkbox */
.grid-checks input {
  /*position: absolute;*/
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.logo img {
    width: 200px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    /** background-color: #020203; **/
    border-radius: 5px;
    border: 2px #111213 solid;
}

/* On mouse-over, add a grey background color */
.grid-checks:hover input ~ .checkmark {
  /** background-color: #ccc; **/
}
select#glass {
    width: 140px;
}

/* When the checkbox is checked, add a blue background */
.grid-checks input:checked ~ .checkmark {
  /** background-color: #020203; **/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.grid-checks input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.grid-checks .checkmark:after {
    left: 11px;
    top: 7px;
    width: 6px;
    height: 12px;
    border: solid #eb9b2f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.temp-check span {
    font-size: 13px;
    text-transform: capitalize;
    float: left;
    margin-top: 6px;
}
.temp-check span.checkmark {
    border: 2px #ccc solid;
}
.cart-modals {
    top: 5%;
    overflow-y: auto;
}
.cart-modals .modal-content {
    background: #000000;
    box-shadow: 0px 2px 13px -4px #999;
    border-radius: 10px;
    position: relative;
}
.cart-modals .modal_width  {
    width:800px;


}
.cart-modals .modal-content button.close {
   color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1050;
    opacity: 1;
    outline: 0 !important;

}
.cart-modals .modal-content .modal-body{
  padding: 0px;
}
.cart-modals .modal-content .modal-body .add-head {
    background: #eb9b2f;
    text-align: left;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cart-modals .modal-content .modal-body .add-cnt{
  padding: 25px;
}
.cart-modals .modal-content .modal-body .add-cnt p {
    font-size: 24px;
    margin-top: 25px;
}
.crt-btns {
    width: 100%;
    text-align: center;
}
.crt-btns a {
    background: #eb9b2f;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 25px;
    margin: 0px 5px;
    font-size: 15px;
    margin-top: 30px;
    display: inline-block;
}
.crt-btns a.windo-btn {
    background: #1c5fd1;
    float: none !important;
}
.shops-cart p {
 text-transform: capitalize;
 font-size: 16px;
 margin-bottom: 10px;
 color: #B4B4B4;
 width: 100%;
 display: block;
}
.shops-cart p label {
    width: 100px;
    margin-bottom: 0px;
}
.unit-ttl {
    text-align: right;
    position: relative;
}
.unit-ttl p {
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 5px;
    color: #b4b4b4;
}
.unit-ttl p label {
    width: 115px;
    margin-bottom: 0px;
    text-align: left;
}
.unit-ttl button.cart-btn {
    background: #eb2f2f;
    color: #fff;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 20px;
    text-transform: capitalize;
    margin-top: 10px;
    display: inline-block;
    font-family: 'ProximaNova-Semibold';
    width: 100px;
}

.temper-2 .hori-slide form {
    width: auto;
    padding-top: 0px;
}

.temper-2 .hori-slide .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 10px;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-table;
    color: #000;
    font-family: 'ProximaNova-Semibold';
}

.temper-2 .hori-slide .value-button:hover {
  cursor: pointer;
}

form #decrease {
 margin-right: -5px;
    border-radius: 20px 0 0 20px;
    color: #000;
    margin-top: -1px;
    border: 0px;

}

.temper-2 .hori-slide form #increase {
  margin-left: -4px;
  border-radius: 0 20px 20px 0;
  margin-top: -1px;
  border: 0px;
}

/* form #input-wrap {
  margin: 0px;
  padding: 0px;
} */

.temper-2 .hori-slide input {
    text-align: center;
    border: none;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    width: 40px;
    height: 24px;
    font-family: 'ProximaNova-Semibold';
}
.picnam {
    padding-left: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.shops-cart {
    position: relative;
    margin-left: 20px;
}
.valuname {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'ProximaNova-Semibold';
    color: #b4b4b4;
    padding-right: 85px;
}
.order-summary{
    background: rgba(5,6,9,0.8);
    border-radius: 10px;
    border: 2px #111213 solid;
    margin-bottom: 15px;
        margin-top: 15px;
}
.smry-head {
    font-size: 40px;
    font-family: 'ProximaNova-Semibold';
    text-transform: capitalize;
    color: #b4b4b4;
    padding: 25px;
    border-bottom: 2px #111213 solid;
}
.order-summary .bst-window {
    padding: 25px;
}
.btr label {
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'ProximaNova-Semibold';
    color: #b4b4b4;
    display: inline-block;
}
.btnscart {
    background: #fff;
    border: 0px;
    width: 100px;
    cursor: pointer;
    padding: 6px 0px;
    border-radius: 20px;
    display: inline-block;
    clear: both;
    }
.order-summary .btr .price {
    margin-left: 30px;
    display: inline-block;
    background: #eb9b2f;
    color: #000;
    padding: 3px 15px;
    border-radius: 20px;
    font-family: 'ProximaNova-Semibold';
}
.order-summary .btr .price-2{
  background: #fff;
  color: #000;
   margin-left: 30px;
    display: inline-block;
     padding: 3px 15px;
    border-radius: 20px;
    font-family: 'ProximaNova-Semibold';
}
.down-pay {
    background: rgba(5,6,9,0.8);
    border-radius: 10px;
    border: 2px #111213 solid;
    margin-bottom: 15px;
    padding: 25px;
}
.payment-down input[type="text"] {
    background:#030201;
    border: 2px #13100d solid;
    width: 150px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    color: #fff;
    font-family: 'ProximaNova-Semibold';
}
.down-pay .form-group {
    margin-bottom: 0px;

}
.down-pay{
  text-transform: capitalize;
  margin-top: 20px;
}
.down-pay .payment-down {
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'ProximaNova-Semibold';
    color: #b4b4b4;
}
.credit-crd label {
    float: left;
    margin-top: 10px;
}
.credit-crd .input-group {
    width: 70%;
    margin-left: 20px;
    float: left;
}
.credit-crd input.form-control {
    background: #000000;
    border: 2px #13100d solid;
    color: #fff;
    font-family: 'ProximaNova-Semibold';
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
}
.credit-crd {
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'ProximaNova-Semibold';
    color: #b4b4b4;

}
.credit-crd span.input-group-addon {
    background: #000000;
    border: 2px #13100d solid;
    font-family: 'ProximaNova-Semibold';
    padding: 10px;
    border-radius: 0 10px 10px 0;
    text-transform: capitalize;
    font-size: 18px;
    border-left: 0px;
    color: #b4b4b4;
}

.submit-form {
    max-width: 600px;
    margin: auto;
    background: rgba(5,6,9,0.8);
    border-radius: 10px;
    border: 2px #111213 solid;
    padding: 30px;
}
.submit-form .form-group {
    width: 100%;
    float: left;
}
.submit-form .form-group label {
    text-transform: capitalize;
    font-size: 18px;
    display: block;
    color: #cbcbcb;
}
.submit-form .form-group input{
    /*color: #262627;*/
    color: #fff;
    background: #020203;
    border: 2px #101010 solid;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}








@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1550px) {

}

@media only screen and (max-width: 1440px) {
    .partner-section h2{
      font-size: 46px;
    }
    .option-section h2 {
    font-size: 46px;
  }
  .room-section h2{
    font-size: 43px;
  }

}


@media only screen and (max-width: 1366px) {

}


@media only screen and (max-width: 1199px) {
    .owl-next{
      top: 22%;
    }
    .owl-prev{
      top: 22%;
    }
}

@media only screen and (max-width: 1024px) {
    .option-section h2 {
    font-size: 50px;
  }
  .room-section h2{
    font-size: 50px;
  }
  .partner-section h2{
    font-size: 50px;
  }

}
@media only screen and (max-width: 600px) {

.unit-ttl button.cart-btn {
    background: #eb2f2f;
    color: #fff;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 20px;
    text-transform: capitalize;
    margin-top: 10px;
    display: inline-block;
    font-family: 'ProximaNova-Semibold';
    width: 100px;
}

}

@media only screen and (max-width: 991px) {
    .room-section ul li {
        width: 30%;
    }
    .all-room .liv-room img {
    width: 5em;
}
.down-pay.top {
    padding: 50px;
    padding-bottom: 13px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 40px;
}

.shops-cart p {
    font-size=15px;
}

.down-pay.top {
    padding: 50px;
    padding-bottom: 13px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 40px;
    padding-top: 70px;
}
 .owl-next{
      top: 30%;
    }
    .owl-prev{
      top: 30%;
    }
.payment-down input[type="text"] {
    width: 100px;
}


}

@media only screen and (max-width: 767px) {
  .credit-crd {
    float: left;
    margin-top: 15px;
}
.btr label {
    width: 140px;
}
.down-pay.top .shop-show.btn-pdf {
    width: 100%;
    max-width: 260px;
    margin-bottom: 61px;
}
.unit-ttl {
    text-align: left;
    margin-top: 10px;
}
.picnam {
    padding-left: 0px;
    text-align: center;
}
.unitl {
    text-align: center;
}
.valuname{
  padding-right: 0px;
}
.unit-ttl p label {
    width: 90px;
}

  .width-sec {
      margin-bottom: 15px;
      margin-top: 10px;
  }
  .temp-check {
    margin-bottom: 15px;
}

.temp-check span {
    width: 100px;
    margin-bottom: 15px;
}
.width-sec label {
    width: 100px;
}
.unit-ttl button.cart-btn{
    float: left;
    background: #eb2f2f;
    color: #fff;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 20px;
    text-transform: capitalize;
    margin-top: 10px;
    display: inline-block;
    font-family: 'ProximaNova-Semibold';
    width: 100px;
    margin-left: 15px;

}
.logo img {
    width: 150px;
}
}

@media only screen and (max-width: 575px) {
  .owl-next{
    right: -10px;
  }
  .owl-prev{
    left: -0px;
  }
  .main-temper {
      padding-right: 0px;
  }
  .right-email {
    text-align: center;

    font-size: small;
}
.toggal-man {
    float: right;
    margin-left: 0px;
}
.logo {
    width: 100%;
    text-align: center;
}
.option-section {
    width: 100%;
    padding: 40px 0px;
}
.unit-ttl {
    text-align: left;
    position: relative;
    margin-top: 15px;
}
.btr {
    margin-bottom: 10px;
}
.btr label {
    width: 100%;
    max-width: 150px;
}
.order-summary .btr .price {
    margin-left: 0px;
  }
  .order-summary .btr .price-2 {
     margin-left: 0px;
  }
  .down-pay .payment-down {
    margin-bottom: 15px;
}

.credit-crd {
    float: left;
}
.room-section {
    padding: 40px 10px;
}
.room-section h2 {
    margin-bottom: 40px;
}
.header .col-md-6 {
    width: 50%;
}
.right-email p {
    margin-bottom: 4px;
        display: none;
  }
  .header {
    padding: 30px 15px;
  }
.toggal-man .dropdown-menu.show {
    display: block;
    left: -35px !important;
}

}

@media only screen and (max-width: 480px) {
  .option-section h2 {
    font-size: 30px;
    width: 90%;
    margin: auto;
        margin-bottom: auto;
    margin-bottom: 50px;
}
.threebtn {
    margin-bottom: 28px;
}
.logo img {
    width: 100%;
}
span.fugit {
    background-color: black;
    font-size: 20px;
    width: 45%;
}
  .griid {
    padding: 20px;
    border-bottom: 2px #111213 solid;
}
  button.nxt-btn{
    margin-top: 10px;
  }
  .all-room .liv-room{
    margin-left: -7px !important;
  }
  .right-email p {
    margin-bottom: 4px;
        display: none;
  }
  .cart-form .form-group {
    width: 100%;
}
     .room-section ul li {
        width: 100%;
    }
    .option-section h2 {
    font-size: 30px;
  }
  .room-section h2{
    font-size: 30px;
  }
  .partner-section h2{
    font-size: 30px;
  }
.room-section {
    padding: 80px 10px;
}
.room-section {
    padding: 40px 10px;
}
.valuname{
  padding-right: 0px;
  display: none;
}
.shops-cart {
    position: relative;
    padding: 0px 28px;
}
.unit-ttl {
    text-align: left;
    position: relative;
    margin-top: 15px;
    padding: 0px 30px;
}

}

@media only screen and (max-width: 375px) {
  .payment-down input[type="text"] {
    width: 100%;
    margin-left: 0px;
}
.logoutcls a {
margin-left:10px;
}
.credit-crd .input-group {
    width: 100%;
    margin-left: 0px;
    float: left;
}
.width-sec label {
    width: 80px;
}
.temp-check span {
    width: 80px;
    margin-bottom: 15px;
}
.width-sec select {
background: transparent;
border: 2px#111213 solid;
color:#fff;
width: 130px;
}
}






.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}
/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.shop-show {

    cursor: pointer;
}


/*** start-landing-page ***/

.navbar {
  color: #fff;
  border-bottom: none;
  padding: 30px 0;
  transition-duration: 0.6s;
  z-index: 1050;
}
/* jQuery Styles
===================================*/
.navbar-scroll {
    background: #000;
    padding: 20px 0px;
    box-shadow: 2px 2px 10px 1px #424242;
    transition-duration: 0.6s;
}
.navbar-scroll img{
  width:auto;
}
.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}
nav.navbar.navbar-expand-lg.navbar-light {
    width: 100%;
    position: fixed;
}
.hom-banner{
    background-image: url(../images/bnr-back.jpg) !important;
    width: 100%;
    min-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    position: relative;
}
.main.home-page {
    background-image: none !important;
}
nav.navbar .row {
    width: 100%;
}
.header-right {
    text-align: right;
}
nav.navbar .tgl {
    display: inline-block;
    margin-right: 20px;
}
nav.navbar .number {
    display: inline-block;
}
nav.navbar .cart {
    display: inline-block;
}
nav.navbar .number {
    display: inline-block;
    font-size: 24px;
    margin-right: 30px;
}
nav.navbar .number .fa{
  margin-right: 10px;
}
.down-pay.top {
    padding: 50px;
    padding-bottom: 13px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.down-pay.top .shop-show.btn-pdf {
    width: 100%;
    max-width: 260px;
    font-size: 15px;
}
div#dealerdetails .modal-content {
    background: #000000;
    box-shadow: 0px 2px 13px -4px #999;
    border-radius: 10px;
    position: relative;
}
div#dealerdetails .modal-content button.close {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1050;
    opacity: 1;
    outline: 0 !important;
}
div#dealerdetails .modal-content h4.modal-title {
    width: 100%;
    text-align: center;
}
div#dealerdetails .modal-content h4.modal-title img {
    width: 100%;
    max-width: 220px;
}
div#dealerdetails .modal-dialog.vdo-mdls {
    max-width: 1200px !important;
    width: 100%;
}
div#dealerdetails .modal-content .bnr img {
    width: 100%;
}
.order-txt-sec {
    padding: 30px;
}
.order-txt-sec h2 {
    font-size: 40px !important;
    color: #fff !important;
    margin-bottom: 20px !important;
}

.order-txt-sec .bnr-pera {
    height: auto;
    font-size: 20px;
    padding-right: 30px;
}
.modal-dialog.vdo-mdls iframe {
    width: 100% !important;
    max-width: 797px;
}

.bnr-txt{
  color: #fff;
  padding-top: 80px;
}
.bnr-txt h2 {
   font-size: 40px;
    text-transform: capitalize;
    font-family: 'Roboto-Bold';
    line-height: 45px;
    margin-top: 0px;
}
.bnr-txt .radio-txt p {
    font-size: 22px;
    margin-bottom: 0px;
    float: left;
    width: 80%;
    padding-left: 20px;
}
.radio-txt {
    width: 100%;
        display: inline-block;
}
.radio-txt span {
    float: left;
        font-size: 50px !important;
}
.bnr-txt .left-txt button {
    background: #f79b00;
    border: 0px;
    min-width: 160px;
    color: #fff;
    padding: 10px 0px;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 30px;
    font-family: 'Roboto-Medium';
    margin-bottom: 10px;
    width: 100%;
    margin-top: 30px;
}
.helps {
    padding-top: 100px;
}

/** start-choose-section **/

.choose-sec{
  padding: 80px 0px;
  background: #fafafa;
}
.heading {
    text-align: center;
    width: 100%;
    font-size: 44px;
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
    margin-bottom: 100px;
}
.heading img {
    display: block;
    margin: auto;
}
.heading h3 {
    text-transform: uppercase;
    text-align: right;
    margin-right: 50px;
}
.mordern-design .mod-txt {
    float: right;
    text-align: right;
    width: 72%;
}
.mordern-design .mod-txt p{
  font-family: 'ProximaNova-Semibold';
}
.mordern-design .mod-txt h3 {
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
}
.mordern-design .mod-pic {
    float: right;
    margin-left: 18px;
    width: 80px;
}
.mordern-design {
    margin-bottom: 20px;
    display: inline-block;
}

.mordern-design.left-design .mod-pic {
    float: left;
    margin-right: 18px;
    margin-left: 0px;
}
.mordern-design.left-design .mod-txt {
    float: left;
    text-align: left;
    width: 72%;
}
.hom-banner .play-txt {
    text-align: right;
    font-size: 18px;
    font-family: 'ProximaNova-Semibold';
    text-transform: uppercase;
}
.hom-banner .play-txt img{
  margin-right: 20px;
}

/** end-choose-section **/


/*** start-product-section ***/

.product-sec{
  padding: 80px 0px;
  width:100%;
  margin:auto;
  max-width: 1600px;
}
.seventy-p{
  width:70%;
  float: left;
}
.thirty-p{
  width:30%;
  float: left;
}

.two-slide {
    border: 1px #eee solid;
    padding: 60px 120px;
    float: left;
    width: 100%;
    transition: 0.3s;
    min-height: 340px;
}
.two-slide .middle {
    width: 100%;
    max-width: 330px;
    float: left;
    margin-right: 50px;
}
.two-slide .middle h3 {
    font-size: 46px;
    font-family: 'Roboto-Bold';
    text-transform: capitalize;
}
.two-slide .middle h5 {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    border-bottom: 1px #000 solid;
    width: 263px;
    margin-top: 25px;
}
.two-slide .pic img{
  float: right;
}

.doors{
  width:100%;
  float: left;
}
.doors .door-fifty .dor-txt h3 {
    font-size: 46px;
    font-family: 'Roboto-Bold';
    text-transform: capitalize;
    margin-top: 50px;
}
.doors .door-fifty .dor-txt h5 {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    border-bottom: 1px #000 solid;
    width: 263px;
    margin-top: 20px;
}
.doors .door-fifty {
    padding: 70px;
    border: 1px #eee solid;
    border-top: 0px;
    width: 50%;
    float: left;
    min-height: 1070px;
    transition: 0.3s;
}
.doors .door-fifty:last-child{
  border-left:0px;
}
.special-txt h3 {
    font-size: 46px;
    font-family: 'Roboto-Bold';
    text-transform: capitalize;
    margin-top: 20px;
}
.special-txt h5 {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    border-bottom: 1px #000 solid;
    width: 263px;
    margin-top: 15px;
}
.dor-pic {
    margin-top: 30px;
}
.door-fifty-2 {
    padding: 70px;
    border: 1px #eee solid;
    border-top: 0px;
    width: 50%;
    float: left;
    padding-top: 40px;
    border-left: 0px;
    transition: 0.3s;
    min-height: 534px;
}
.casemant{
    padding: 70px;
    border: 1px #eee solid;
    width: 100%;
    float: left;
    border-left: 0px;
    transition: 0.3s;
    min-height: 900px;
}
.casemant h5 {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    border-bottom: 1px #000 solid;
    width: 263px;
    margin-top: 15px;
}
.casemant h3 {
    font-size: 46px;
    font-family: 'Roboto-Bold';
    text-transform: capitalize;
    margin-top: 20px;
}
.casemant a.case-order {
    background: #faa500;
    color: #fff;
    padding: 10px 30px;
    margin-top: 26px;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'ProximaNova-Semibold';
    text-decoration: none;
}
.double-case{
  padding: 49px;
    border: 1px #eee solid;
    width: 100%;
    float: left;
    border-left: 0px;
    transition: 0.3s;
    min-height: 508px;
}
.double-case h3 {
    font-size: 46px;
    font-family: 'Roboto-Bold';
    text-transform: capitalize;
    margin-top: 20px;
}
.double-case h5 {
    font-size: 28px;
    font-family: 'Roboto-Bold';
    border-bottom: 1px #000 solid;
    width: 263px;
    margin-top: 15px;
}

.two-slide:hover {
    box-shadow: 2px 2px 11px 7px #eee;
    transition: 0.3s;
}
.doors .door-fifty:hover {
    box-shadow: 2px 2px 11px 7px #eee;
    transition: 0.3s;
}
.door-fifty-2:hover {
    box-shadow: 2px 2px 11px 7px #eee;
    transition: 0.3s;
}
.casemant:hover {
    box-shadow: 2px 2px 11px 7px #eee;
    transition: 0.3s;
}
.double-case:hover {
    box-shadow: 2px 2px 11px 7px #eee;
    transition: 0.3s;
}
/*** end-product-section ***/

/*** start-footer ***/
.footer{
  padding: 80px 0px;
}
.footer .address h2 {
    font-size: 48px;
    font-family: 'Roboto-Bold';
}
.footer .address {
    padding-left: 40px;
}
.footer .address p label{
  color:#9f9f9f;
  font-family: 'ProximaNova-Semibold';
}
.footer .address p{
  font-family: 'Roboto-Medium';
}
.footer .address a.drive{
    background: #faa500;
    color: #fff;
    padding: 10px 30px;
    margin-top: 26px;
    display: inline-block;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Roboto-Regular';
    text-decoration: none;
}

.copyright{
  padding: 20px 0px;
  background-color: #f8f6fb;
}
.copyright ul li {
    display: inline-block;
    margin: 0px 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Roboto-Medium';
}
.copyright ul{
  padding-left: 0px;
  margin-bottom: 0px;
  text-align: right;
}
.copyright p{
  font-family: 'Roboto-Medium';
  font-size: 20px;
  margin-bottom: 0px;
}

/*** start-footer ***/


/*** start-landing-page ***/



@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1550px) {

}

@media only screen and (max-width: 1440px) {
    .partner-section h2{
      font-size: 46px;
    }
    .option-section h2 {
    font-size: 46px;
  }
  .room-section h2{
    font-size: 46px;
  }
  .two-slide {
    border: 1px #eee solid;
    padding: 60px 70px;
  }
  .door-fifty-2 {
    min-height: 582px;
}
.double-case {
    min-height: 605px;
}
.doors .door-fifty{
    min-height: 1164px;
}

}


@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 1300px) {
.doors .door-fifty {
    min-height: 1173px;
}
.casemant {
    min-height: 1027px;
}
.double-case {
    min-height: 700px;
}


}


@media only screen and (max-width: 1199px) {
    .owl-next{
      top: 22%;
    }
    .owl-prev{
      top: 22%;
    }
}

@media only screen and (max-width: 1024px) {
    .option-section h2 {
    font-size: 50px;
  }
  .room-section h2{
    font-size: 50px;
  }
  .partner-section h2{
    font-size: 50px;
  }

}


@media only screen and (max-width: 991px) {
.shops-cart p {
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 10px;
    color: #B4B4B4;
    width: 125%;
    display: block;
}
    .room-section ul li {
        width: 30%;
    }
    .all-room .liv-room img {
    width: 5em;
}
 .owl-next{
      top: 30%;
    }
    .owl-prev{
      top: 30%;
    }
.payment-down input[type="text"] {
    width: 100px;
}


}

@media only screen and (max-width: 767px) {
.shops-cart p {
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;
    color: #B4B4B4;
    width: 100%;
    display: block;
}
.down-pay.top {
    padding-left: 0px !important;
    max-width: 260px;
    margin: auto;
    margin-top: 60px;
    height: 174px;
    padding-top: 90px;
    padding-right: 40px;
    margin-bottom: 20px;
}
  .credit-crd {
    float: left;
    margin-top: 15px;
}
.down-pay.top {
    padding-left: 0px !important;
    max-width: 260px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 25PX;
}
.btr label {
    width: 140px;
}
.unit-ttl {
    text-align: left;
    margin-top: 10px;
}
.picnam {
    padding-left: 0px;
    text-align: center;
}
.unitl {
    text-align: center;
}
.valuname{
  padding-right: 0px;
}
.unit-ttl p label {
    width: 115px;
    margin-left: -20px;
}

  .width-sec {
      margin-bottom: 15px;
      margin-top: 10px;
  }
  .temp-check {
    margin-bottom: 15px;
}
.temp-check span {
    width: 32px;
    margin-bottom: 15px;
}
.width-sec label {
    width: 100px;
}

}

@media only screen and (max-width: 575px) {
  .owl-next{
    right: -10px;
  }
  .owl-prev{
    left: -0px;
  }

  .down-pay.top .shop-show.btn-pdf {
    width: 100%;
    max-width: 260px;
    margin-bottom: 61px;
}
  .main-temper {
      padding-right: 0px;
  }
  .right-email {
    text-align: center;
}
.toggal-man {
    float: right;
    margin-left: 0px;
}
.logo {
    width: 100%;
    text-align: center;
}
.option-section {
    width: 100%;
    padding: 40px 0px;
}
.unit-ttl {
    text-align: left;
    position: relative;
    margin-top: 15px;
}
.btr {
    margin-bottom: 10px;
}
.btr label {
    width: 100%;
    max-width: 150px;
}
.order-summary .btr .price {
    margin-left: 0px;
  }
  .order-summary .btr .price-2 {
     margin-left: 0px;
  }
  .down-pay .payment-down {
    margin-bottom: 15px;
}

.credit-crd {
    float: left;
}
.room-section {
    padding: 40px 10px;
}
.room-section h2 {
    margin-bottom: 40px;
}
.header .col-md-6 {
    width: 50%;
}
.right-email p {
    margin-bottom: 4px;
        display: none;
  }
  .header {
    padding: 30px 15px;
  }
.navbar-scroll {
    background: #000;
    padding: 20px 25px;
}
  .navbar {
    padding: 30px;
  }
  .footer .col-6 {
    max-width: 100%;
    flex: 100%;
}
.copyright .col-6 {
    max-width: 100%;
    flex: 100%;
    margin-bottom: 10px;
}
.copyright ul {
    text-align: center;
}
.copyright p{
  text-align: center;
}
.footer .address h2 {
    margin-top: 20px;
}
.navbar .col-md-6 {
    text-align: center;
}
.navbar .col-md-6 .header-right {
    text-align: center;
}
.bnr-txt .col-6 {
    max-width: 100% !important;
    flex: 100%;
}
.video-sec {
    margin-top: 30px;
}
.choose-sec .col-4 {
    max-width: 100%;
    flex: 100%;
}
.seventy-p {
    width: 100%;
    float: left;
}
.thirty-p {
    width: 100%;
    float: left;
}
.doors .door-fifty {
    width: 100%;
  }
  .door-fifty-2 {
    padding: 70px;
    border: 1px #eee solid;
    border-top: 0px;
    width: 100%;
  }

}

@media only screen and (max-width: 480px) {
.btn-pdf {
    max-width: 260px;
}
.shop-show.btn-pdf.order-work {
    margin-bottom: -30px !important;
}
.room-section ul li div img {
    margin-left: -15px;
}
.down-pay.top .shop-show.btn-pdf {
    width: 100%;
    max-width: 260px;
    margin-bottom: 61px;
}

   .option-section h2 {
    font-size: 30px;
    width: 90%;
    margin: auto;
        margin-bottom: auto;
    margin-bottom: 50px;
}
.bnr-txt h2 {
    font-size: 28px;
    text-transform: capitalize;
    font-family: 'Roboto-Bold';
    line-height: 40px;
    margin-top: 35px;
}
  .griid {
    padding: 20px;
    border-bottom: 2px #111213 solid;
}
  button.nxt-btn{
    margin-top: 10px;
  }
  .all-room .liv-room{
    margin-left: -7px !important;
  }
  .right-email p {
    margin-bottom: 4px;
        display: none;
  }
  .down-pay.top .shop-show.btn-pdf {
    width: 100%;
    max-width: 260px;
    margin-bottom: 61px;
}
     .room-section ul li {
        width: 100%;
         margin: 0px;
    margin-top: 20px;
    }
    .option-section h2 {
    font-size: 30px;
  }
  .room-section h2{
    font-size: 30px;
  }
  .partner-section h2{
    font-size: 30px;
  }
.room-section {
    padding: 80px 10px;
}
.room-section {
    padding: 40px 10px;
}
.valuname{
  padding-right: 0px;
}
.shops-cart {
    position: relative;
    padding: 0px 0px;
}
.unit-ttl {
    text-align: left;
    position: relative;
    margin-top: 15px;
    padding: 0px 30px;
}
.temper h5.video {
    bottom: 20px;
}
.unit-ttl button.cart-btn{
    float: left;
    background: #eb2f2f;
    color: #fff;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 20px;
    text-transform: capitalize;
    margin-top: 10px;
    display: inline-block;
    font-family: 'ProximaNova-Semibold';
    width: 100px;
    margin-left: 15px;
}

}

@media only screen and (max-width: 375px) {
  .payment-down input[type="text"] {
    width: 100%;
    margin-left: 0px;
}
.credit-crd .input-group {
    width: 100%;
    margin-left: 0px;
    float: left;
}
.width-sec label {
    width: 80px;
}
.temp-check span {
    width: 30px;
    margin-bottom: 15px;
}
.width-sec select {
background: transparent;
border: 2px#111213 solid;
color:#fff;
width: 130px;
}
.help-text {
    padding: 20px;
}
.play-txt {
    padding-top: 15px;
}

label.i_gree {
    font-size: 23px;
}
h4.dealer-cs {
    padding-bottom: 13px !important;
    border-bottom: 1px solid white !important;
}


label.btn.btn-success.toggle-on {
    line-height: 14px;
}

.fugit-input:focus {
    background-color: transparent !important;
}

.unit-ttl div {
    float: left;
    margin-right: 10px;
}
button:focus { background-color: #ffdb3a; }

.temp-check1 {

    display: inline-block;
    width: 100%;
    float: left;
    padding: 10px;
    min-height: 107px;

}
