<html>
<head>
    <title>Billing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .middleDiv {
            position : fixed;
            width    : 75%;
            height   : 500px;
            left     : 13%;
            top      : 20%;
        }
        .card {
          position: relative;
          display: block;
          margin-bottom: .75rem;
          background-color:#fff;
          @include border-radius(.25rem);
          border: 1px solid rgba(0,0,0,.125);
        }
        .card-block {
          @include clearfix;
          padding: 1.25rem;
        }
    </style>
</head>
<body>
<div class="middleDiv jumbotron">
    <h3 style="margin-left: 10px">Billing</h3>
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <h3>Plan: {{ billing.plan.title }}</h3>
              <hr/>
              <h3 class="text-center text-muted">$ {{ billing.plan.price }} per month</h3>
              <div class="col-sm-12">
                <div class="col-sm-5"><strong>Last transaction:</strong></div>
                <div class="col-sm-5">{{ billing.last_transaction | date:'medium' }}</div>
              </div>
              <div class="col-sm-12">
                <div class="col-sm-5"><strong>Next checking:</strong></div>
                <div class="col-sm-5">{{ billing.next_transaction | date:'medium' }}</div>
              </div>
              <div class="col-sm-12 text-xs-center mt-3" [innerHtml]="htmlProperty"></div>
            </div>
            <div class="col-md-6">
              <h3>Transactions</h3>
              <hr/>
              <div>
                  {% for transaction in billing.transactions %}
                       {{transaction.created_at|date:'medium'}} - {{transaction.comment}}
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="text-center">
        {{ billing.subscribe_form }}
     </div>
    </div>
</div>
</body>
</html>