{% extends "auth/activation_layout.html" %}
{% load addclass %}

{% block content %}

        <p><strong>Set new password:</strong></p>

        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form method="post" id="myForm" class="form">{% csrf_token %}

            <div class="form-group">
                <label><strong>New password:</strong></label>
                <input class="form-control" id="id_new_password1" name="new_password1" value="{{form.new_password1.value | default:""}}" type="password" required/>
                <div style="color:red">{{ form.new_password1.errors}}</div>
            </div>
            <div class="form-group">
                <label><strong>Confirm password:</strong></label>
                <input class="form-control" id="id_new_password2" name="new_password2" type="password" required value="{{ form.new_password2.value | default:"" }}" />
                <div style="color:red">{{ form.new_password2.errors}}</div>
            </div>

            <div class="form-group">
                <label class="form-check-label">
                    <input class="form-check-input" required type="checkbox" value="">
                    <a target="_blank" href="{% url 'terms' %}">Terms and Conditions</a>
                </label>
            </div>

            <div class="form-group">
                <label class="form-check-label">
                    <input class="form-check-input" required type="checkbox" value="">
                    <a target="_blank" href="{% url 'policy' %}">Privacy Policy</a>
                </label>
            </div>

            <p><input type="submit" class="btn btn-outline-primary" value="Next" /></p>
        </form>

{% endblock %}
