{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <title>Biddingapp</title>

    <!-- Main styles for this application -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>
<body class="navbar-fixed sidebar-nav fixed-nav">

<div id="page_login" class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-block" *ngIf="!show_login_section">
                            <h1>User Activation</h1>
                            <hr/>
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


