{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <title>Biddingapp</title>

    <!-- Main styles for this application -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>
<body id="bodyDiv" class="navbar-fixed sidebar-nav fixed-nav">

<div id="page_login" class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-block" *ngIf="!show_login_section">
                            <h1>User Activation</h1>
                            <hr/>
                            <p><strong>Set new password:</strong></p>

                            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                            <form method="post" id="myForm" class="form">{% csrf_token %}

                                <div class="form-group">
                                    <label><strong>New password:</strong></label>
                                    <input class="form-control" id="id_new_password1" name="new_password1" value="{{form.new_password1.value | default:""}}" type="password" required/>
                                    <div style="color:red">{{ form.new_password1.errors}}</div>
                                </div>
                                <div class="form-group">
                                    <label><strong>Confirm password:</strong></label>
                                    <input class="form-control" id="id_new_password2" name="new_password2" type="password" required value="{{ form.new_password2.value | default:"" }}" onblur="validate()"/>
                                    <div style="color:red">{{ form.new_password2.errors}}</div>
                                </div>

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" required type="checkbox" value="">
                                        <a target="_blank" href="{% url 'terms' %}">Terms and Conditions</a>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" required type="checkbox" value="">
                                        <a target="_blank" href="{% url 'policy' %}">Privacy Policy</a>
                                    </label>
                                </div>

                                <p><input type="submit" class="btn btn-outline-primary" value="Next" /></p>
                            </form>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
                            <script type="text/javascript">
                               function validate(){
                                    var url_link = location.href.split("/");
                                    var token = url_link[url_link.length-2];
                                    $.ajax({
                                        url: "/auth/activation/"+token+"/",
                                        type: 'POST',
                                        data: $('form#myForm').serialize(),
                                         success: function(response) {
                                            console.log(response);
                                            $("#bodyDiv").html(response);
                                         },
                                        failure: function () {
                                            console.log("error occured dude")
                                        }
                                    });
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
