{% extends "auth/auth_layout.html" %}

{% load addclass %}

{% block content %}

    <p><strong>Enter your email address below,</strong> and we'll email instructions for setting a new one.</p>

    <form class="form" method="post">{% csrf_token %}
        <div class="form-group">
            {{ form.email|addclass:'form-control' }}
        </div>
        {{ form.email.errors }}
        <input class="btn btn-outline-primary" type="submit" value="Reset password"/>
    </form>

{% endblock %}
