{% extends "auth/auth_layout.html" %}

{% load addclass %}

{% block content %}

    {% if validlink %}

        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form method="post" class="form">{% csrf_token %}

            <div class="form-group">
                <label><strong>New password:</strong></label>
                {{ form.new_password1 | addclass:"form-control" }}
                {{ form.new_password1.errors }}
            </div>

            <div class="form-group">
                <label><strong>Confirm password:</strong></label>
                {{ form.new_password2 | addclass:"form-control" }}
                {{ form.new_password2.errors }}
            </div>


            <p><input type="submit" class="btn btn-outline-primary" value="Change my password"/></p>
        </form>

    {% else %}

        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a new
            password reset.
        </p>

    {% endif %}

{% endblock %}